<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hlic.base.dao.DofDictsMapper" >
  <resultMap id="BaseResultMap" type="com.hlic.base.pojo.po.DofDicts" >
    <result column="DCT_ID" property="dctId" jdbcType="VARCHAR" />
    <result column="DCT_CAPTION" property="dctCaption" jdbcType="VARCHAR" />
    <result column="DCT_ICON" property="dctIcon" jdbcType="VARCHAR" />
    <result column="DCT_INTER" property="dctInter" jdbcType="VARCHAR" />
    <result column="DCT_FID" property="dctFid" jdbcType="VARCHAR" />
    <result column="DCT_FPARENT" property="dctFparent" jdbcType="VARCHAR" />
    <result column="DCT_FNAME" property="dctFname" jdbcType="VARCHAR" />
    <result column="DCT_FLEVEL" property="dctFlevel" jdbcType="VARCHAR" />
    <result column="DCT_FCHILD" property="dctFchild" jdbcType="VARCHAR" />
    <result column="DCT_FNATIONID" property="dctFnationid" jdbcType="VARCHAR" />
    <result column="DCT_STRUC" property="dctStruc" jdbcType="VARCHAR" />
    <result column="DCT_DOF_OBJ" property="dctDofObj" jdbcType="VARCHAR" />
    <result column="DCT_EDIT_CARD" property="dctEditCard" jdbcType="VARCHAR" />
    <result column="DCT_EDIT_TREE" property="dctEditTree" jdbcType="VARCHAR" />
    <result column="DCT_ACC_MODE" property="dctAccMode" jdbcType="VARCHAR" />
    <result column="DCT_ACC" property="dctAcc" jdbcType="VARCHAR" />
    <result column="DCT_CACH" property="dctCach" jdbcType="VARCHAR" />
    <result column="DCT_CACH_CLIENT" property="dctCachClient" jdbcType="VARCHAR" />
    <result column="DCT_CACH_MODE" property="dctCachMode" jdbcType="VARCHAR" />
    <result column="DCT_OWNER_BA" property="dctOwnerBa" jdbcType="VARCHAR" />
    <result column="DCT_SYCH" property="dctSych" jdbcType="VARCHAR" />
    <result column="DCT_SYCH_CYCLE" property="dctSychCycle" jdbcType="INTEGER" />
    <result column="DCT_FLT_MODE" property="dctFltMode" jdbcType="VARCHAR" />
    <result column="DCT_FLT_FIELD" property="dctFltField" jdbcType="VARCHAR" />
    <result column="DCT_FLT_KEY" property="dctFltKey" jdbcType="VARCHAR" />
    <result column="DCT_FLT_DCT" property="dctFltDct" jdbcType="VARCHAR" />
    <result column="DCT_ENTITYMAP" property="dctEntitymap" jdbcType="VARCHAR" />
    <result column="DCT_ENTITY" property="dctEntity" jdbcType="VARCHAR" />
    <result column="DCT_PREFIX" property="dctPrefix" jdbcType="VARCHAR" />
    <result column="DCT_BIZFIELD" property="dctBizfield" jdbcType="VARCHAR" />
    <result column="DCT_KEY_ENABLE" property="dctKeyEnable" jdbcType="VARCHAR" />
    <result column="DCT_KEY_FIELD" property="dctKeyField" jdbcType="VARCHAR" />
    <result column="DCT_KEY_CRTR" property="dctKeyCrtr" jdbcType="VARCHAR" />
    <result column="DCT_KEY_CRTR_PARAM" property="dctKeyCrtrParam" jdbcType="VARCHAR" />
    <result column="DCT_KEY_MODE" property="dctKeyMode" jdbcType="VARCHAR" />
    <result column="DCT_ID_AUTO" property="dctIdAuto" jdbcType="VARCHAR" />
    <result column="DCT_VERSION" property="dctVersion" jdbcType="VARCHAR" />
    <result column="DCT_PHYTABLE" property="dctPhytable" jdbcType="VARCHAR" />
    <result column="DCT_STARTLEVEL" property="dctStartlevel" jdbcType="INTEGER" />
    <result column="DCT_EXP_RIGHT" property="dctExpRight" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    DCT_ID, DCT_CAPTION, DCT_ICON, DCT_INTER, DCT_FID, DCT_FPARENT, DCT_FNAME, DCT_FLEVEL, 
    DCT_FCHILD, DCT_FNATIONID, DCT_STRUC, DCT_DOF_OBJ, DCT_EDIT_CARD, DCT_EDIT_TREE, 
    DCT_ACC_MODE, DCT_ACC, DCT_CACH, DCT_CACH_CLIENT, DCT_CACH_MODE, DCT_OWNER_BA, DCT_SYCH, 
    DCT_SYCH_CYCLE, DCT_FLT_MODE, DCT_FLT_FIELD, DCT_FLT_KEY, DCT_FLT_DCT, DCT_ENTITYMAP, 
    DCT_ENTITY, DCT_PREFIX, DCT_BIZFIELD, DCT_KEY_ENABLE, DCT_KEY_FIELD, DCT_KEY_CRTR, 
    DCT_KEY_CRTR_PARAM, DCT_KEY_MODE, DCT_ID_AUTO, DCT_VERSION, DCT_PHYTABLE, DCT_STARTLEVEL, 
    DCT_EXP_RIGHT
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hlic.base.pojo.po.DofDictsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dof_dicts
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.hlic.base.pojo.po.DofDictsExample" >
    delete from dof_dicts
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hlic.base.pojo.po.DofDicts" >
    insert into dof_dicts (DCT_ID, DCT_CAPTION, DCT_ICON, 
      DCT_INTER, DCT_FID, DCT_FPARENT, 
      DCT_FNAME, DCT_FLEVEL, DCT_FCHILD, 
      DCT_FNATIONID, DCT_STRUC, DCT_DOF_OBJ, 
      DCT_EDIT_CARD, DCT_EDIT_TREE, DCT_ACC_MODE, 
      DCT_ACC, DCT_CACH, DCT_CACH_CLIENT, 
      DCT_CACH_MODE, DCT_OWNER_BA, DCT_SYCH, 
      DCT_SYCH_CYCLE, DCT_FLT_MODE, DCT_FLT_FIELD, 
      DCT_FLT_KEY, DCT_FLT_DCT, DCT_ENTITYMAP, 
      DCT_ENTITY, DCT_PREFIX, DCT_BIZFIELD, 
      DCT_KEY_ENABLE, DCT_KEY_FIELD, DCT_KEY_CRTR, 
      DCT_KEY_CRTR_PARAM, DCT_KEY_MODE, DCT_ID_AUTO, 
      DCT_VERSION, DCT_PHYTABLE, DCT_STARTLEVEL, 
      DCT_EXP_RIGHT)
    values (#{dctId,jdbcType=VARCHAR}, #{dctCaption,jdbcType=VARCHAR}, #{dctIcon,jdbcType=VARCHAR}, 
      #{dctInter,jdbcType=VARCHAR}, #{dctFid,jdbcType=VARCHAR}, #{dctFparent,jdbcType=VARCHAR}, 
      #{dctFname,jdbcType=VARCHAR}, #{dctFlevel,jdbcType=VARCHAR}, #{dctFchild,jdbcType=VARCHAR}, 
      #{dctFnationid,jdbcType=VARCHAR}, #{dctStruc,jdbcType=VARCHAR}, #{dctDofObj,jdbcType=VARCHAR}, 
      #{dctEditCard,jdbcType=VARCHAR}, #{dctEditTree,jdbcType=VARCHAR}, #{dctAccMode,jdbcType=VARCHAR}, 
      #{dctAcc,jdbcType=VARCHAR}, #{dctCach,jdbcType=VARCHAR}, #{dctCachClient,jdbcType=VARCHAR}, 
      #{dctCachMode,jdbcType=VARCHAR}, #{dctOwnerBa,jdbcType=VARCHAR}, #{dctSych,jdbcType=VARCHAR}, 
      #{dctSychCycle,jdbcType=INTEGER}, #{dctFltMode,jdbcType=VARCHAR}, #{dctFltField,jdbcType=VARCHAR}, 
      #{dctFltKey,jdbcType=VARCHAR}, #{dctFltDct,jdbcType=VARCHAR}, #{dctEntitymap,jdbcType=VARCHAR}, 
      #{dctEntity,jdbcType=VARCHAR}, #{dctPrefix,jdbcType=VARCHAR}, #{dctBizfield,jdbcType=VARCHAR}, 
      #{dctKeyEnable,jdbcType=VARCHAR}, #{dctKeyField,jdbcType=VARCHAR}, #{dctKeyCrtr,jdbcType=VARCHAR}, 
      #{dctKeyCrtrParam,jdbcType=VARCHAR}, #{dctKeyMode,jdbcType=VARCHAR}, #{dctIdAuto,jdbcType=VARCHAR}, 
      #{dctVersion,jdbcType=VARCHAR}, #{dctPhytable,jdbcType=VARCHAR}, #{dctStartlevel,jdbcType=INTEGER}, 
      #{dctExpRight,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hlic.base.pojo.po.DofDicts" >
    insert into dof_dicts
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dctId != null" >
        DCT_ID,
      </if>
      <if test="dctCaption != null" >
        DCT_CAPTION,
      </if>
      <if test="dctIcon != null" >
        DCT_ICON,
      </if>
      <if test="dctInter != null" >
        DCT_INTER,
      </if>
      <if test="dctFid != null" >
        DCT_FID,
      </if>
      <if test="dctFparent != null" >
        DCT_FPARENT,
      </if>
      <if test="dctFname != null" >
        DCT_FNAME,
      </if>
      <if test="dctFlevel != null" >
        DCT_FLEVEL,
      </if>
      <if test="dctFchild != null" >
        DCT_FCHILD,
      </if>
      <if test="dctFnationid != null" >
        DCT_FNATIONID,
      </if>
      <if test="dctStruc != null" >
        DCT_STRUC,
      </if>
      <if test="dctDofObj != null" >
        DCT_DOF_OBJ,
      </if>
      <if test="dctEditCard != null" >
        DCT_EDIT_CARD,
      </if>
      <if test="dctEditTree != null" >
        DCT_EDIT_TREE,
      </if>
      <if test="dctAccMode != null" >
        DCT_ACC_MODE,
      </if>
      <if test="dctAcc != null" >
        DCT_ACC,
      </if>
      <if test="dctCach != null" >
        DCT_CACH,
      </if>
      <if test="dctCachClient != null" >
        DCT_CACH_CLIENT,
      </if>
      <if test="dctCachMode != null" >
        DCT_CACH_MODE,
      </if>
      <if test="dctOwnerBa != null" >
        DCT_OWNER_BA,
      </if>
      <if test="dctSych != null" >
        DCT_SYCH,
      </if>
      <if test="dctSychCycle != null" >
        DCT_SYCH_CYCLE,
      </if>
      <if test="dctFltMode != null" >
        DCT_FLT_MODE,
      </if>
      <if test="dctFltField != null" >
        DCT_FLT_FIELD,
      </if>
      <if test="dctFltKey != null" >
        DCT_FLT_KEY,
      </if>
      <if test="dctFltDct != null" >
        DCT_FLT_DCT,
      </if>
      <if test="dctEntitymap != null" >
        DCT_ENTITYMAP,
      </if>
      <if test="dctEntity != null" >
        DCT_ENTITY,
      </if>
      <if test="dctPrefix != null" >
        DCT_PREFIX,
      </if>
      <if test="dctBizfield != null" >
        DCT_BIZFIELD,
      </if>
      <if test="dctKeyEnable != null" >
        DCT_KEY_ENABLE,
      </if>
      <if test="dctKeyField != null" >
        DCT_KEY_FIELD,
      </if>
      <if test="dctKeyCrtr != null" >
        DCT_KEY_CRTR,
      </if>
      <if test="dctKeyCrtrParam != null" >
        DCT_KEY_CRTR_PARAM,
      </if>
      <if test="dctKeyMode != null" >
        DCT_KEY_MODE,
      </if>
      <if test="dctIdAuto != null" >
        DCT_ID_AUTO,
      </if>
      <if test="dctVersion != null" >
        DCT_VERSION,
      </if>
      <if test="dctPhytable != null" >
        DCT_PHYTABLE,
      </if>
      <if test="dctStartlevel != null" >
        DCT_STARTLEVEL,
      </if>
      <if test="dctExpRight != null" >
        DCT_EXP_RIGHT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dctId != null" >
        #{dctId,jdbcType=VARCHAR},
      </if>
      <if test="dctCaption != null" >
        #{dctCaption,jdbcType=VARCHAR},
      </if>
      <if test="dctIcon != null" >
        #{dctIcon,jdbcType=VARCHAR},
      </if>
      <if test="dctInter != null" >
        #{dctInter,jdbcType=VARCHAR},
      </if>
      <if test="dctFid != null" >
        #{dctFid,jdbcType=VARCHAR},
      </if>
      <if test="dctFparent != null" >
        #{dctFparent,jdbcType=VARCHAR},
      </if>
      <if test="dctFname != null" >
        #{dctFname,jdbcType=VARCHAR},
      </if>
      <if test="dctFlevel != null" >
        #{dctFlevel,jdbcType=VARCHAR},
      </if>
      <if test="dctFchild != null" >
        #{dctFchild,jdbcType=VARCHAR},
      </if>
      <if test="dctFnationid != null" >
        #{dctFnationid,jdbcType=VARCHAR},
      </if>
      <if test="dctStruc != null" >
        #{dctStruc,jdbcType=VARCHAR},
      </if>
      <if test="dctDofObj != null" >
        #{dctDofObj,jdbcType=VARCHAR},
      </if>
      <if test="dctEditCard != null" >
        #{dctEditCard,jdbcType=VARCHAR},
      </if>
      <if test="dctEditTree != null" >
        #{dctEditTree,jdbcType=VARCHAR},
      </if>
      <if test="dctAccMode != null" >
        #{dctAccMode,jdbcType=VARCHAR},
      </if>
      <if test="dctAcc != null" >
        #{dctAcc,jdbcType=VARCHAR},
      </if>
      <if test="dctCach != null" >
        #{dctCach,jdbcType=VARCHAR},
      </if>
      <if test="dctCachClient != null" >
        #{dctCachClient,jdbcType=VARCHAR},
      </if>
      <if test="dctCachMode != null" >
        #{dctCachMode,jdbcType=VARCHAR},
      </if>
      <if test="dctOwnerBa != null" >
        #{dctOwnerBa,jdbcType=VARCHAR},
      </if>
      <if test="dctSych != null" >
        #{dctSych,jdbcType=VARCHAR},
      </if>
      <if test="dctSychCycle != null" >
        #{dctSychCycle,jdbcType=INTEGER},
      </if>
      <if test="dctFltMode != null" >
        #{dctFltMode,jdbcType=VARCHAR},
      </if>
      <if test="dctFltField != null" >
        #{dctFltField,jdbcType=VARCHAR},
      </if>
      <if test="dctFltKey != null" >
        #{dctFltKey,jdbcType=VARCHAR},
      </if>
      <if test="dctFltDct != null" >
        #{dctFltDct,jdbcType=VARCHAR},
      </if>
      <if test="dctEntitymap != null" >
        #{dctEntitymap,jdbcType=VARCHAR},
      </if>
      <if test="dctEntity != null" >
        #{dctEntity,jdbcType=VARCHAR},
      </if>
      <if test="dctPrefix != null" >
        #{dctPrefix,jdbcType=VARCHAR},
      </if>
      <if test="dctBizfield != null" >
        #{dctBizfield,jdbcType=VARCHAR},
      </if>
      <if test="dctKeyEnable != null" >
        #{dctKeyEnable,jdbcType=VARCHAR},
      </if>
      <if test="dctKeyField != null" >
        #{dctKeyField,jdbcType=VARCHAR},
      </if>
      <if test="dctKeyCrtr != null" >
        #{dctKeyCrtr,jdbcType=VARCHAR},
      </if>
      <if test="dctKeyCrtrParam != null" >
        #{dctKeyCrtrParam,jdbcType=VARCHAR},
      </if>
      <if test="dctKeyMode != null" >
        #{dctKeyMode,jdbcType=VARCHAR},
      </if>
      <if test="dctIdAuto != null" >
        #{dctIdAuto,jdbcType=VARCHAR},
      </if>
      <if test="dctVersion != null" >
        #{dctVersion,jdbcType=VARCHAR},
      </if>
      <if test="dctPhytable != null" >
        #{dctPhytable,jdbcType=VARCHAR},
      </if>
      <if test="dctStartlevel != null" >
        #{dctStartlevel,jdbcType=INTEGER},
      </if>
      <if test="dctExpRight != null" >
        #{dctExpRight,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hlic.base.pojo.po.DofDictsExample" resultType="java.lang.Integer" >
    select count(*) from dof_dicts
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update dof_dicts
    <set >
      <if test="record.dctId != null" >
        DCT_ID = #{record.dctId,jdbcType=VARCHAR},
      </if>
      <if test="record.dctCaption != null" >
        DCT_CAPTION = #{record.dctCaption,jdbcType=VARCHAR},
      </if>
      <if test="record.dctIcon != null" >
        DCT_ICON = #{record.dctIcon,jdbcType=VARCHAR},
      </if>
      <if test="record.dctInter != null" >
        DCT_INTER = #{record.dctInter,jdbcType=VARCHAR},
      </if>
      <if test="record.dctFid != null" >
        DCT_FID = #{record.dctFid,jdbcType=VARCHAR},
      </if>
      <if test="record.dctFparent != null" >
        DCT_FPARENT = #{record.dctFparent,jdbcType=VARCHAR},
      </if>
      <if test="record.dctFname != null" >
        DCT_FNAME = #{record.dctFname,jdbcType=VARCHAR},
      </if>
      <if test="record.dctFlevel != null" >
        DCT_FLEVEL = #{record.dctFlevel,jdbcType=VARCHAR},
      </if>
      <if test="record.dctFchild != null" >
        DCT_FCHILD = #{record.dctFchild,jdbcType=VARCHAR},
      </if>
      <if test="record.dctFnationid != null" >
        DCT_FNATIONID = #{record.dctFnationid,jdbcType=VARCHAR},
      </if>
      <if test="record.dctStruc != null" >
        DCT_STRUC = #{record.dctStruc,jdbcType=VARCHAR},
      </if>
      <if test="record.dctDofObj != null" >
        DCT_DOF_OBJ = #{record.dctDofObj,jdbcType=VARCHAR},
      </if>
      <if test="record.dctEditCard != null" >
        DCT_EDIT_CARD = #{record.dctEditCard,jdbcType=VARCHAR},
      </if>
      <if test="record.dctEditTree != null" >
        DCT_EDIT_TREE = #{record.dctEditTree,jdbcType=VARCHAR},
      </if>
      <if test="record.dctAccMode != null" >
        DCT_ACC_MODE = #{record.dctAccMode,jdbcType=VARCHAR},
      </if>
      <if test="record.dctAcc != null" >
        DCT_ACC = #{record.dctAcc,jdbcType=VARCHAR},
      </if>
      <if test="record.dctCach != null" >
        DCT_CACH = #{record.dctCach,jdbcType=VARCHAR},
      </if>
      <if test="record.dctCachClient != null" >
        DCT_CACH_CLIENT = #{record.dctCachClient,jdbcType=VARCHAR},
      </if>
      <if test="record.dctCachMode != null" >
        DCT_CACH_MODE = #{record.dctCachMode,jdbcType=VARCHAR},
      </if>
      <if test="record.dctOwnerBa != null" >
        DCT_OWNER_BA = #{record.dctOwnerBa,jdbcType=VARCHAR},
      </if>
      <if test="record.dctSych != null" >
        DCT_SYCH = #{record.dctSych,jdbcType=VARCHAR},
      </if>
      <if test="record.dctSychCycle != null" >
        DCT_SYCH_CYCLE = #{record.dctSychCycle,jdbcType=INTEGER},
      </if>
      <if test="record.dctFltMode != null" >
        DCT_FLT_MODE = #{record.dctFltMode,jdbcType=VARCHAR},
      </if>
      <if test="record.dctFltField != null" >
        DCT_FLT_FIELD = #{record.dctFltField,jdbcType=VARCHAR},
      </if>
      <if test="record.dctFltKey != null" >
        DCT_FLT_KEY = #{record.dctFltKey,jdbcType=VARCHAR},
      </if>
      <if test="record.dctFltDct != null" >
        DCT_FLT_DCT = #{record.dctFltDct,jdbcType=VARCHAR},
      </if>
      <if test="record.dctEntitymap != null" >
        DCT_ENTITYMAP = #{record.dctEntitymap,jdbcType=VARCHAR},
      </if>
      <if test="record.dctEntity != null" >
        DCT_ENTITY = #{record.dctEntity,jdbcType=VARCHAR},
      </if>
      <if test="record.dctPrefix != null" >
        DCT_PREFIX = #{record.dctPrefix,jdbcType=VARCHAR},
      </if>
      <if test="record.dctBizfield != null" >
        DCT_BIZFIELD = #{record.dctBizfield,jdbcType=VARCHAR},
      </if>
      <if test="record.dctKeyEnable != null" >
        DCT_KEY_ENABLE = #{record.dctKeyEnable,jdbcType=VARCHAR},
      </if>
      <if test="record.dctKeyField != null" >
        DCT_KEY_FIELD = #{record.dctKeyField,jdbcType=VARCHAR},
      </if>
      <if test="record.dctKeyCrtr != null" >
        DCT_KEY_CRTR = #{record.dctKeyCrtr,jdbcType=VARCHAR},
      </if>
      <if test="record.dctKeyCrtrParam != null" >
        DCT_KEY_CRTR_PARAM = #{record.dctKeyCrtrParam,jdbcType=VARCHAR},
      </if>
      <if test="record.dctKeyMode != null" >
        DCT_KEY_MODE = #{record.dctKeyMode,jdbcType=VARCHAR},
      </if>
      <if test="record.dctIdAuto != null" >
        DCT_ID_AUTO = #{record.dctIdAuto,jdbcType=VARCHAR},
      </if>
      <if test="record.dctVersion != null" >
        DCT_VERSION = #{record.dctVersion,jdbcType=VARCHAR},
      </if>
      <if test="record.dctPhytable != null" >
        DCT_PHYTABLE = #{record.dctPhytable,jdbcType=VARCHAR},
      </if>
      <if test="record.dctStartlevel != null" >
        DCT_STARTLEVEL = #{record.dctStartlevel,jdbcType=INTEGER},
      </if>
      <if test="record.dctExpRight != null" >
        DCT_EXP_RIGHT = #{record.dctExpRight,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update dof_dicts
    set DCT_ID = #{record.dctId,jdbcType=VARCHAR},
      DCT_CAPTION = #{record.dctCaption,jdbcType=VARCHAR},
      DCT_ICON = #{record.dctIcon,jdbcType=VARCHAR},
      DCT_INTER = #{record.dctInter,jdbcType=VARCHAR},
      DCT_FID = #{record.dctFid,jdbcType=VARCHAR},
      DCT_FPARENT = #{record.dctFparent,jdbcType=VARCHAR},
      DCT_FNAME = #{record.dctFname,jdbcType=VARCHAR},
      DCT_FLEVEL = #{record.dctFlevel,jdbcType=VARCHAR},
      DCT_FCHILD = #{record.dctFchild,jdbcType=VARCHAR},
      DCT_FNATIONID = #{record.dctFnationid,jdbcType=VARCHAR},
      DCT_STRUC = #{record.dctStruc,jdbcType=VARCHAR},
      DCT_DOF_OBJ = #{record.dctDofObj,jdbcType=VARCHAR},
      DCT_EDIT_CARD = #{record.dctEditCard,jdbcType=VARCHAR},
      DCT_EDIT_TREE = #{record.dctEditTree,jdbcType=VARCHAR},
      DCT_ACC_MODE = #{record.dctAccMode,jdbcType=VARCHAR},
      DCT_ACC = #{record.dctAcc,jdbcType=VARCHAR},
      DCT_CACH = #{record.dctCach,jdbcType=VARCHAR},
      DCT_CACH_CLIENT = #{record.dctCachClient,jdbcType=VARCHAR},
      DCT_CACH_MODE = #{record.dctCachMode,jdbcType=VARCHAR},
      DCT_OWNER_BA = #{record.dctOwnerBa,jdbcType=VARCHAR},
      DCT_SYCH = #{record.dctSych,jdbcType=VARCHAR},
      DCT_SYCH_CYCLE = #{record.dctSychCycle,jdbcType=INTEGER},
      DCT_FLT_MODE = #{record.dctFltMode,jdbcType=VARCHAR},
      DCT_FLT_FIELD = #{record.dctFltField,jdbcType=VARCHAR},
      DCT_FLT_KEY = #{record.dctFltKey,jdbcType=VARCHAR},
      DCT_FLT_DCT = #{record.dctFltDct,jdbcType=VARCHAR},
      DCT_ENTITYMAP = #{record.dctEntitymap,jdbcType=VARCHAR},
      DCT_ENTITY = #{record.dctEntity,jdbcType=VARCHAR},
      DCT_PREFIX = #{record.dctPrefix,jdbcType=VARCHAR},
      DCT_BIZFIELD = #{record.dctBizfield,jdbcType=VARCHAR},
      DCT_KEY_ENABLE = #{record.dctKeyEnable,jdbcType=VARCHAR},
      DCT_KEY_FIELD = #{record.dctKeyField,jdbcType=VARCHAR},
      DCT_KEY_CRTR = #{record.dctKeyCrtr,jdbcType=VARCHAR},
      DCT_KEY_CRTR_PARAM = #{record.dctKeyCrtrParam,jdbcType=VARCHAR},
      DCT_KEY_MODE = #{record.dctKeyMode,jdbcType=VARCHAR},
      DCT_ID_AUTO = #{record.dctIdAuto,jdbcType=VARCHAR},
      DCT_VERSION = #{record.dctVersion,jdbcType=VARCHAR},
      DCT_PHYTABLE = #{record.dctPhytable,jdbcType=VARCHAR},
      DCT_STARTLEVEL = #{record.dctStartlevel,jdbcType=INTEGER},
      DCT_EXP_RIGHT = #{record.dctExpRight,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>