<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hlic.base.dao.SysBxDjlxMapper" >
  <resultMap id="BaseResultMap" type="com.hlic.base.pojo.po.SysBxDjlx" >
    <result column="F_BH" property="fBh" jdbcType="VARCHAR" />
    <result column="F_MC" property="fMc" jdbcType="VARCHAR" />
    <result column="F_DISABLE" property="fDisable" jdbcType="VARCHAR" />
    <result column="F_NOTE" property="fNote" jdbcType="VARCHAR" />
    <result column="F_PURL" property="fPurl" jdbcType="VARCHAR" />
    <result column="F_YWLX" property="fYwlx" jdbcType="VARCHAR" />
    <result column="F_STO_ID" property="fStoId" jdbcType="VARCHAR" />
    <result column="F_SFTY" property="fSfty" jdbcType="VARCHAR" />
    <result column="F_BZ_ID" property="fBzId" jdbcType="VARCHAR" />
    <result column="F_YSKZ" property="fYskz" jdbcType="VARCHAR" />
    <result column="F_EDT_LAYOUT" property="fEdtLayout" jdbcType="VARCHAR" />
    <result column="F_PRT_LAYOUT1" property="fPrtLayout1" jdbcType="VARCHAR" />
    <result column="F_PRT_LAYOUT2" property="fPrtLayout2" jdbcType="VARCHAR" />
    <result column="F_PRT_LAYOUT3" property="fPrtLayout3" jdbcType="VARCHAR" />
    <result column="F_LYXT" property="fLyxt" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    F_BH, F_MC, F_DISABLE, F_NOTE, F_PURL, F_YWLX, F_STO_ID, F_SFTY, F_BZ_ID, F_YSKZ, 
    F_EDT_LAYOUT, F_PRT_LAYOUT1, F_PRT_LAYOUT2, F_PRT_LAYOUT3, F_LYXT
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hlic.base.pojo.po.SysBxDjlxExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_bx_djlx
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.hlic.base.pojo.po.SysBxDjlxExample" >
    delete from sys_bx_djlx
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hlic.base.pojo.po.SysBxDjlx" >
    insert into sys_bx_djlx (F_BH, F_MC, F_DISABLE, 
      F_NOTE, F_PURL, F_YWLX, 
      F_STO_ID, F_SFTY, F_BZ_ID, 
      F_YSKZ, F_EDT_LAYOUT, F_PRT_LAYOUT1, 
      F_PRT_LAYOUT2, F_PRT_LAYOUT3, F_LYXT
      )
    values (#{fBh,jdbcType=VARCHAR}, #{fMc,jdbcType=VARCHAR}, #{fDisable,jdbcType=VARCHAR}, 
      #{fNote,jdbcType=VARCHAR}, #{fPurl,jdbcType=VARCHAR}, #{fYwlx,jdbcType=VARCHAR}, 
      #{fStoId,jdbcType=VARCHAR}, #{fSfty,jdbcType=VARCHAR}, #{fBzId,jdbcType=VARCHAR}, 
      #{fYskz,jdbcType=VARCHAR}, #{fEdtLayout,jdbcType=VARCHAR}, #{fPrtLayout1,jdbcType=VARCHAR}, 
      #{fPrtLayout2,jdbcType=VARCHAR}, #{fPrtLayout3,jdbcType=VARCHAR}, #{fLyxt,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hlic.base.pojo.po.SysBxDjlx" >
    insert into sys_bx_djlx
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fBh != null" >
        F_BH,
      </if>
      <if test="fMc != null" >
        F_MC,
      </if>
      <if test="fDisable != null" >
        F_DISABLE,
      </if>
      <if test="fNote != null" >
        F_NOTE,
      </if>
      <if test="fPurl != null" >
        F_PURL,
      </if>
      <if test="fYwlx != null" >
        F_YWLX,
      </if>
      <if test="fStoId != null" >
        F_STO_ID,
      </if>
      <if test="fSfty != null" >
        F_SFTY,
      </if>
      <if test="fBzId != null" >
        F_BZ_ID,
      </if>
      <if test="fYskz != null" >
        F_YSKZ,
      </if>
      <if test="fEdtLayout != null" >
        F_EDT_LAYOUT,
      </if>
      <if test="fPrtLayout1 != null" >
        F_PRT_LAYOUT1,
      </if>
      <if test="fPrtLayout2 != null" >
        F_PRT_LAYOUT2,
      </if>
      <if test="fPrtLayout3 != null" >
        F_PRT_LAYOUT3,
      </if>
      <if test="fLyxt != null" >
        F_LYXT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fBh != null" >
        #{fBh,jdbcType=VARCHAR},
      </if>
      <if test="fMc != null" >
        #{fMc,jdbcType=VARCHAR},
      </if>
      <if test="fDisable != null" >
        #{fDisable,jdbcType=VARCHAR},
      </if>
      <if test="fNote != null" >
        #{fNote,jdbcType=VARCHAR},
      </if>
      <if test="fPurl != null" >
        #{fPurl,jdbcType=VARCHAR},
      </if>
      <if test="fYwlx != null" >
        #{fYwlx,jdbcType=VARCHAR},
      </if>
      <if test="fStoId != null" >
        #{fStoId,jdbcType=VARCHAR},
      </if>
      <if test="fSfty != null" >
        #{fSfty,jdbcType=VARCHAR},
      </if>
      <if test="fBzId != null" >
        #{fBzId,jdbcType=VARCHAR},
      </if>
      <if test="fYskz != null" >
        #{fYskz,jdbcType=VARCHAR},
      </if>
      <if test="fEdtLayout != null" >
        #{fEdtLayout,jdbcType=VARCHAR},
      </if>
      <if test="fPrtLayout1 != null" >
        #{fPrtLayout1,jdbcType=VARCHAR},
      </if>
      <if test="fPrtLayout2 != null" >
        #{fPrtLayout2,jdbcType=VARCHAR},
      </if>
      <if test="fPrtLayout3 != null" >
        #{fPrtLayout3,jdbcType=VARCHAR},
      </if>
      <if test="fLyxt != null" >
        #{fLyxt,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hlic.base.pojo.po.SysBxDjlxExample" resultType="java.lang.Integer" >
    select count(*) from sys_bx_djlx
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_bx_djlx
    <set >
      <if test="record.fBh != null" >
        F_BH = #{record.fBh,jdbcType=VARCHAR},
      </if>
      <if test="record.fMc != null" >
        F_MC = #{record.fMc,jdbcType=VARCHAR},
      </if>
      <if test="record.fDisable != null" >
        F_DISABLE = #{record.fDisable,jdbcType=VARCHAR},
      </if>
      <if test="record.fNote != null" >
        F_NOTE = #{record.fNote,jdbcType=VARCHAR},
      </if>
      <if test="record.fPurl != null" >
        F_PURL = #{record.fPurl,jdbcType=VARCHAR},
      </if>
      <if test="record.fYwlx != null" >
        F_YWLX = #{record.fYwlx,jdbcType=VARCHAR},
      </if>
      <if test="record.fStoId != null" >
        F_STO_ID = #{record.fStoId,jdbcType=VARCHAR},
      </if>
      <if test="record.fSfty != null" >
        F_SFTY = #{record.fSfty,jdbcType=VARCHAR},
      </if>
      <if test="record.fBzId != null" >
        F_BZ_ID = #{record.fBzId,jdbcType=VARCHAR},
      </if>
      <if test="record.fYskz != null" >
        F_YSKZ = #{record.fYskz,jdbcType=VARCHAR},
      </if>
      <if test="record.fEdtLayout != null" >
        F_EDT_LAYOUT = #{record.fEdtLayout,jdbcType=VARCHAR},
      </if>
      <if test="record.fPrtLayout1 != null" >
        F_PRT_LAYOUT1 = #{record.fPrtLayout1,jdbcType=VARCHAR},
      </if>
      <if test="record.fPrtLayout2 != null" >
        F_PRT_LAYOUT2 = #{record.fPrtLayout2,jdbcType=VARCHAR},
      </if>
      <if test="record.fPrtLayout3 != null" >
        F_PRT_LAYOUT3 = #{record.fPrtLayout3,jdbcType=VARCHAR},
      </if>
      <if test="record.fLyxt != null" >
        F_LYXT = #{record.fLyxt,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_bx_djlx
    set F_BH = #{record.fBh,jdbcType=VARCHAR},
      F_MC = #{record.fMc,jdbcType=VARCHAR},
      F_DISABLE = #{record.fDisable,jdbcType=VARCHAR},
      F_NOTE = #{record.fNote,jdbcType=VARCHAR},
      F_PURL = #{record.fPurl,jdbcType=VARCHAR},
      F_YWLX = #{record.fYwlx,jdbcType=VARCHAR},
      F_STO_ID = #{record.fStoId,jdbcType=VARCHAR},
      F_SFTY = #{record.fSfty,jdbcType=VARCHAR},
      F_BZ_ID = #{record.fBzId,jdbcType=VARCHAR},
      F_YSKZ = #{record.fYskz,jdbcType=VARCHAR},
      F_EDT_LAYOUT = #{record.fEdtLayout,jdbcType=VARCHAR},
      F_PRT_LAYOUT1 = #{record.fPrtLayout1,jdbcType=VARCHAR},
      F_PRT_LAYOUT2 = #{record.fPrtLayout2,jdbcType=VARCHAR},
      F_PRT_LAYOUT3 = #{record.fPrtLayout3,jdbcType=VARCHAR},
      F_LYXT = #{record.fLyxt,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>