<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hlic.base.dao.SysFuncGrpMapper" >
  <resultMap id="BaseResultMap" type="com.hlic.base.pojo.po.SysFuncGrp" >
    <result column="F_ID" property="fId" jdbcType="VARCHAR" />
    <result column="F_NAME" property="fName" jdbcType="VARCHAR" />
    <result column="F_DISABLE" property="fDisable" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    F_ID, F_NAME, F_DISABLE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hlic.base.pojo.po.SysFuncGrpExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_func_grp
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.hlic.base.pojo.po.SysFuncGrpExample" >
    delete from sys_func_grp
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hlic.base.pojo.po.SysFuncGrp" >
    insert into sys_func_grp (F_ID, F_NAME, F_DISABLE
      )
    values (#{fId,jdbcType=VARCHAR}, #{fName,jdbcType=VARCHAR}, #{fDisable,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hlic.base.pojo.po.SysFuncGrp" >
    insert into sys_func_grp
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fId != null" >
        F_ID,
      </if>
      <if test="fName != null" >
        F_NAME,
      </if>
      <if test="fDisable != null" >
        F_DISABLE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fId != null" >
        #{fId,jdbcType=VARCHAR},
      </if>
      <if test="fName != null" >
        #{fName,jdbcType=VARCHAR},
      </if>
      <if test="fDisable != null" >
        #{fDisable,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hlic.base.pojo.po.SysFuncGrpExample" resultType="java.lang.Integer" >
    select count(*) from sys_func_grp
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_func_grp
    <set >
      <if test="record.fId != null" >
        F_ID = #{record.fId,jdbcType=VARCHAR},
      </if>
      <if test="record.fName != null" >
        F_NAME = #{record.fName,jdbcType=VARCHAR},
      </if>
      <if test="record.fDisable != null" >
        F_DISABLE = #{record.fDisable,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_func_grp
    set F_ID = #{record.fId,jdbcType=VARCHAR},
      F_NAME = #{record.fName,jdbcType=VARCHAR},
      F_DISABLE = #{record.fDisable,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>