<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hlic.base.dao.SysFuncMapper" >
  <resultMap id="BaseResultMap" type="com.hlic.base.pojo.po.SysFunc" >
    <id column="F_BH" property="fBh" jdbcType="INTEGER" />
    <result column="f_mc" property="fMc" jdbcType="VARCHAR" />
    <result column="f_js" property="fJs" jdbcType="INTEGER" />
    <result column="f_mx" property="fMx" jdbcType="VARCHAR" />
    <result column="f_text" property="fText" jdbcType="VARCHAR" />
    <result column="f_icon" property="fIcon" jdbcType="VARCHAR" />
    <result column="f_image" property="fImage" jdbcType="VARCHAR" />
    <result column="f_app_id" property="fAppId" jdbcType="VARCHAR" />
    <result column="f_url" property="fUrl" jdbcType="VARCHAR" />
    <result column="f_parent" property="fParent" jdbcType="VARCHAR" />
    <result column="f_disable" property="fDisable" jdbcType="VARCHAR" />
    <result column="f_p1_id" property="fP1Id" jdbcType="VARCHAR" />
    <result column="f_p1_value" property="fP1Value" jdbcType="VARCHAR" />
    <result column="f_p2_id" property="fP2Id" jdbcType="VARCHAR" />
    <result column="f_p2_value" property="fP2Value" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <select id="queryFuncList" resultMap="BaseResultMap" parameterType="com.hlic.base.pojo.po.SysFunc">
  	select * from sys_func 
    <if test="fAppId != null" >
      where f_app_id = #{fAppId,jdbcType=VARCHAR}
    </if>
    <if test="fMc != null" >
    	where f_mc= #{fMc,jdbcType=VARCHAR}
    </if>
  </select>
  <sql id="Base_Column_List" >
    F_BH, f_mc, f_js, f_mx, f_text, f_icon, f_image, f_app_id, f_url, f_parent, f_disable, 
    f_p1_id, f_p1_value, f_p2_id, f_p2_value
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hlic.base.pojo.po.SysFuncExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_func
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_func
    where F_BH = #{fBh,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_func
    where F_BH = #{fBh,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hlic.base.pojo.po.SysFuncExample" >
    delete from sys_func
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hlic.base.pojo.po.SysFunc" >
    insert into sys_func (F_BH, f_mc, f_js, 
      f_mx, f_text, f_icon, 
      f_image, f_app_id, f_url, 
      f_parent, f_disable, f_p1_id, 
      f_p1_value, f_p2_id, f_p2_value
      )
    values (#{fBh,jdbcType=INTEGER}, #{fMc,jdbcType=VARCHAR}, #{fJs,jdbcType=INTEGER}, 
      #{fMx,jdbcType=VARCHAR}, #{fText,jdbcType=VARCHAR}, #{fIcon,jdbcType=VARCHAR}, 
      #{fImage,jdbcType=VARCHAR}, #{fAppId,jdbcType=VARCHAR}, #{fUrl,jdbcType=VARCHAR}, 
      #{fParent,jdbcType=VARCHAR}, #{fDisable,jdbcType=VARCHAR}, #{fP1Id,jdbcType=VARCHAR}, 
      #{fP1Value,jdbcType=VARCHAR}, #{fP2Id,jdbcType=VARCHAR}, #{fP2Value,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="addSysFuncRecordBatch" useGeneratedKeys="true" parameterType="java.util.List"> 
      <if test="list != null">
      	  insert into sys_func
      	  (f_mc, f_js, 
      f_mx, f_text, f_icon, 
      f_image, f_app_id, f_url, 
      f_parent, f_disable, f_p1_id, 
      f_p1_value, f_p2_id, f_p2_value
      )
	      <foreach collection="list" item="item" index="index" separator="" > 
		      <trim prefix="values (" suffix=")" suffixOverrides="," >
			      <if test="item.fMc != null" >
			        #{item.fMc,jdbcType=VARCHAR},
			      </if>
			      <if test="item.fJs != null" >
			        #{item.fJs,jdbcType=INTEGER},
			      </if>
			      <if test="item.fMx != null" >
			        #{item.fMx,jdbcType=VARCHAR},
			      </if>
			      <if test="item.fText != null" >
			        #{item.fText,jdbcType=VARCHAR},
			      </if>
			      <if test="item.fIcon != null" >
			        #{item.fIcon,jdbcType=VARCHAR},
			      </if>
			      <if test="item.fImage != null" >
			        #{item.fImage,jdbcType=VARCHAR},
			      </if>
			      <if test="item.fAppId != null" >
			        #{item.fAppId,jdbcType=VARCHAR},
			      </if>
			      <if test="item.fUrl != null" >
			        #{item.fUrl,jdbcType=VARCHAR},
			      </if>
			      <if test="item.fParent != null" >
			        #{item.fParent,jdbcType=VARCHAR},
			      </if>
			      <if test="item.fDisable != null" >
			        #{item.fDisable,jdbcType=VARCHAR},
			      </if>
			      <if test="item.fP1Id != null" >
			        #{item.fP1Id,jdbcType=VARCHAR},
			      </if>
			      <if test="item.fP1Value != null" >
			        #{item.fP1Value,jdbcType=VARCHAR},
			      </if>
			      <if test="item.fP2Id != null" >
			        #{item.fP2Id,jdbcType=VARCHAR},
			      </if>
			      <if test="item.fP2Value != null" >
			        #{item.fP2Value,jdbcType=VARCHAR},
			      </if>
			  </trim>
	      </foreach> 
      </if>
  </insert>
  <insert id="insertSelective" parameterType="com.hlic.base.pojo.po.SysFunc" >
    insert into sys_func
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fBh != null" >
        F_BH,
      </if>
      <if test="fMc != null" >
        f_mc,
      </if>
      <if test="fJs != null" >
        f_js,
      </if>
      <if test="fMx != null" >
        f_mx,
      </if>
      <if test="fText != null" >
        f_text,
      </if>
      <if test="fIcon != null" >
        f_icon,
      </if>
      <if test="fImage != null" >
        f_image,
      </if>
      <if test="fAppId != null" >
        f_app_id,
      </if>
      <if test="fUrl != null" >
        f_url,
      </if>
      <if test="fParent != null" >
        f_parent,
      </if>
      <if test="fDisable != null" >
        f_disable,
      </if>
      <if test="fP1Id != null" >
        f_p1_id,
      </if>
      <if test="fP1Value != null" >
        f_p1_value,
      </if>
      <if test="fP2Id != null" >
        f_p2_id,
      </if>
      <if test="fP2Value != null" >
        f_p2_value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fBh != null" >
        #{fBh,jdbcType=INTEGER},
      </if>
      <if test="fMc != null" >
        #{fMc,jdbcType=VARCHAR},
      </if>
      <if test="fJs != null" >
        #{fJs,jdbcType=INTEGER},
      </if>
      <if test="fMx != null" >
        #{fMx,jdbcType=VARCHAR},
      </if>
      <if test="fText != null" >
        #{fText,jdbcType=VARCHAR},
      </if>
      <if test="fIcon != null" >
        #{fIcon,jdbcType=VARCHAR},
      </if>
      <if test="fImage != null" >
        #{fImage,jdbcType=VARCHAR},
      </if>
      <if test="fAppId != null" >
        #{fAppId,jdbcType=VARCHAR},
      </if>
      <if test="fUrl != null" >
        #{fUrl,jdbcType=VARCHAR},
      </if>
      <if test="fParent != null" >
        #{fParent,jdbcType=VARCHAR},
      </if>
      <if test="fDisable != null" >
        #{fDisable,jdbcType=VARCHAR},
      </if>
      <if test="fP1Id != null" >
        #{fP1Id,jdbcType=VARCHAR},
      </if>
      <if test="fP1Value != null" >
        #{fP1Value,jdbcType=VARCHAR},
      </if>
      <if test="fP2Id != null" >
        #{fP2Id,jdbcType=VARCHAR},
      </if>
      <if test="fP2Value != null" >
        #{fP2Value,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hlic.base.pojo.po.SysFuncExample" resultType="java.lang.Integer" >
    select count(*) from sys_func
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_func
    <set >
      <if test="record.fBh != null" >
        F_BH = #{record.fBh,jdbcType=INTEGER},
      </if>
      <if test="record.fMc != null" >
        f_mc = #{record.fMc,jdbcType=VARCHAR},
      </if>
      <if test="record.fJs != null" >
        f_js = #{record.fJs,jdbcType=INTEGER},
      </if>
      <if test="record.fMx != null" >
        f_mx = #{record.fMx,jdbcType=VARCHAR},
      </if>
      <if test="record.fText != null" >
        f_text = #{record.fText,jdbcType=VARCHAR},
      </if>
      <if test="record.fIcon != null" >
        f_icon = #{record.fIcon,jdbcType=VARCHAR},
      </if>
      <if test="record.fImage != null" >
        f_image = #{record.fImage,jdbcType=VARCHAR},
      </if>
      <if test="record.fAppId != null" >
        f_app_id = #{record.fAppId,jdbcType=VARCHAR},
      </if>
      <if test="record.fUrl != null" >
        f_url = #{record.fUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.fParent != null" >
        f_parent = #{record.fParent,jdbcType=VARCHAR},
      </if>
      <if test="record.fDisable != null" >
        f_disable = #{record.fDisable,jdbcType=VARCHAR},
      </if>
      <if test="record.fP1Id != null" >
        f_p1_id = #{record.fP1Id,jdbcType=VARCHAR},
      </if>
      <if test="record.fP1Value != null" >
        f_p1_value = #{record.fP1Value,jdbcType=VARCHAR},
      </if>
      <if test="record.fP2Id != null" >
        f_p2_id = #{record.fP2Id,jdbcType=VARCHAR},
      </if>
      <if test="record.fP2Value != null" >
        f_p2_value = #{record.fP2Value,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_func
    set F_BH = #{record.fBh,jdbcType=INTEGER},
      f_mc = #{record.fMc,jdbcType=VARCHAR},
      f_js = #{record.fJs,jdbcType=INTEGER},
      f_mx = #{record.fMx,jdbcType=VARCHAR},
      f_text = #{record.fText,jdbcType=VARCHAR},
      f_icon = #{record.fIcon,jdbcType=VARCHAR},
      f_image = #{record.fImage,jdbcType=VARCHAR},
      f_app_id = #{record.fAppId,jdbcType=VARCHAR},
      f_url = #{record.fUrl,jdbcType=VARCHAR},
      f_parent = #{record.fParent,jdbcType=VARCHAR},
      f_disable = #{record.fDisable,jdbcType=VARCHAR},
      f_p1_id = #{record.fP1Id,jdbcType=VARCHAR},
      f_p1_value = #{record.fP1Value,jdbcType=VARCHAR},
      f_p2_id = #{record.fP2Id,jdbcType=VARCHAR},
      f_p2_value = #{record.fP2Value,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hlic.base.pojo.po.SysFunc" >
    update sys_func
    <set >
      <if test="fMc != null" >
        f_mc = #{fMc,jdbcType=VARCHAR},
      </if>
      <if test="fJs != null" >
        f_js = #{fJs,jdbcType=INTEGER},
      </if>
      <if test="fMx != null" >
        f_mx = #{fMx,jdbcType=VARCHAR},
      </if>
      <if test="fText != null" >
        f_text = #{fText,jdbcType=VARCHAR},
      </if>
      <if test="fIcon != null" >
        f_icon = #{fIcon,jdbcType=VARCHAR},
      </if>
      <if test="fImage != null" >
        f_image = #{fImage,jdbcType=VARCHAR},
      </if>
      <if test="fAppId != null" >
        f_app_id = #{fAppId,jdbcType=VARCHAR},
      </if>
      <if test="fUrl != null" >
        f_url = #{fUrl,jdbcType=VARCHAR},
      </if>
      <if test="fParent != null" >
        f_parent = #{fParent,jdbcType=VARCHAR},
      </if>
      <if test="fDisable != null" >
        f_disable = #{fDisable,jdbcType=VARCHAR},
      </if>
      <if test="fP1Id != null" >
        f_p1_id = #{fP1Id,jdbcType=VARCHAR},
      </if>
      <if test="fP1Value != null" >
        f_p1_value = #{fP1Value,jdbcType=VARCHAR},
      </if>
      <if test="fP2Id != null" >
        f_p2_id = #{fP2Id,jdbcType=VARCHAR},
      </if>
      <if test="fP2Value != null" >
        f_p2_value = #{fP2Value,jdbcType=VARCHAR},
      </if>
    </set>
    where F_BH = #{fBh,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hlic.base.pojo.po.SysFunc" >
    update sys_func
    set f_mc = #{fMc,jdbcType=VARCHAR},
      f_js = #{fJs,jdbcType=INTEGER},
      f_mx = #{fMx,jdbcType=VARCHAR},
      f_text = #{fText,jdbcType=VARCHAR},
      f_icon = #{fIcon,jdbcType=VARCHAR},
      f_image = #{fImage,jdbcType=VARCHAR},
      f_app_id = #{fAppId,jdbcType=VARCHAR},
      f_url = #{fUrl,jdbcType=VARCHAR},
      f_parent = #{fParent,jdbcType=VARCHAR},
      f_disable = #{fDisable,jdbcType=VARCHAR},
      f_p1_id = #{fP1Id,jdbcType=VARCHAR},
      f_p1_value = #{fP1Value,jdbcType=VARCHAR},
      f_p2_id = #{fP2Id,jdbcType=VARCHAR},
      f_p2_value = #{fP2Value,jdbcType=VARCHAR}
    where F_BH = #{fBh,jdbcType=INTEGER}
  </update>
</mapper>