<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hlic.base.dao.mapper.SysUserMapper" >
  <resultMap id="BaseResultMap" type="com.hlic.base.pojo.po.SysUser" >
    <id column="usr_usrid" property="usrUsrid" jdbcType="VARCHAR" />
    <result column="usr_name" property="usrName" jdbcType="VARCHAR" />
    <result column="usr_password" property="usrPassword" jdbcType="VARCHAR" />
    <result column="usr_email1" property="usrEmail1" jdbcType="VARCHAR" />
    <result column="usr_email2" property="usrEmail2" jdbcType="VARCHAR" />
    <result column="usr_phone1" property="usrPhone1" jdbcType="VARCHAR" />
    <result column="usr_phone2" property="usrPhone2" jdbcType="VARCHAR" />
    <result column="usr_address" property="usrAddress" jdbcType="VARCHAR" />
    <result column="usr_orgid" property="usrOrgid" jdbcType="VARCHAR" />
    <result column="usr_disable" property="usrDisable" jdbcType="VARCHAR" />
    <result column="usr_t01" property="usrT01" jdbcType="VARCHAR" />
    <result column="usr_t02" property="usrT02" jdbcType="VARCHAR" />
    <result column="usr_t03" property="usrT03" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    usr_usrid, usr_name, usr_password, usr_email1, usr_email2, usr_phone1, usr_phone2, 
    usr_address, usr_orgid, usr_disable, usr_t01, usr_t02, usr_t03
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hlic.base.pojo.po.SysUserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_user
    where usr_usrid = #{usrUsrid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_user
    where usr_usrid = #{usrUsrid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.hlic.base.pojo.po.SysUserExample" >
    delete from sys_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hlic.base.pojo.po.SysUser" >
    insert into sys_user (usr_usrid, usr_name, usr_password, 
      usr_email1, usr_email2, usr_phone1, 
      usr_phone2, usr_address, usr_orgid, 
      usr_disable, usr_t01, usr_t02, 
      usr_t03)
    values (#{usrUsrid,jdbcType=VARCHAR}, #{usrName,jdbcType=VARCHAR}, #{usrPassword,jdbcType=VARCHAR}, 
      #{usrEmail1,jdbcType=VARCHAR}, #{usrEmail2,jdbcType=VARCHAR}, #{usrPhone1,jdbcType=VARCHAR}, 
      #{usrPhone2,jdbcType=VARCHAR}, #{usrAddress,jdbcType=VARCHAR}, #{usrOrgid,jdbcType=VARCHAR}, 
      #{usrDisable,jdbcType=VARCHAR}, #{usrT01,jdbcType=VARCHAR}, #{usrT02,jdbcType=VARCHAR}, 
      #{usrT03,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hlic.base.pojo.po.SysUser" >
    insert into sys_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="usrUsrid != null" >
        usr_usrid,
      </if>
      <if test="usrName != null" >
        usr_name,
      </if>
      <if test="usrPassword != null" >
        usr_password,
      </if>
      <if test="usrEmail1 != null" >
        usr_email1,
      </if>
      <if test="usrEmail2 != null" >
        usr_email2,
      </if>
      <if test="usrPhone1 != null" >
        usr_phone1,
      </if>
      <if test="usrPhone2 != null" >
        usr_phone2,
      </if>
      <if test="usrAddress != null" >
        usr_address,
      </if>
      <if test="usrOrgid != null" >
        usr_orgid,
      </if>
      <if test="usrDisable != null" >
        usr_disable,
      </if>
      <if test="usrT01 != null" >
        usr_t01,
      </if>
      <if test="usrT02 != null" >
        usr_t02,
      </if>
      <if test="usrT03 != null" >
        usr_t03,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="usrUsrid != null" >
        #{usrUsrid,jdbcType=VARCHAR},
      </if>
      <if test="usrName != null" >
        #{usrName,jdbcType=VARCHAR},
      </if>
      <if test="usrPassword != null" >
        #{usrPassword,jdbcType=VARCHAR},
      </if>
      <if test="usrEmail1 != null" >
        #{usrEmail1,jdbcType=VARCHAR},
      </if>
      <if test="usrEmail2 != null" >
        #{usrEmail2,jdbcType=VARCHAR},
      </if>
      <if test="usrPhone1 != null" >
        #{usrPhone1,jdbcType=VARCHAR},
      </if>
      <if test="usrPhone2 != null" >
        #{usrPhone2,jdbcType=VARCHAR},
      </if>
      <if test="usrAddress != null" >
        #{usrAddress,jdbcType=VARCHAR},
      </if>
      <if test="usrOrgid != null" >
        #{usrOrgid,jdbcType=VARCHAR},
      </if>
      <if test="usrDisable != null" >
        #{usrDisable,jdbcType=VARCHAR},
      </if>
      <if test="usrT01 != null" >
        #{usrT01,jdbcType=VARCHAR},
      </if>
      <if test="usrT02 != null" >
        #{usrT02,jdbcType=VARCHAR},
      </if>
      <if test="usrT03 != null" >
        #{usrT03,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hlic.base.pojo.po.SysUserExample" resultType="java.lang.Integer" >
    select count(*) from sys_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_user
    <set >
      <if test="record.usrUsrid != null" >
        usr_usrid = #{record.usrUsrid,jdbcType=VARCHAR},
      </if>
      <if test="record.usrName != null" >
        usr_name = #{record.usrName,jdbcType=VARCHAR},
      </if>
      <if test="record.usrPassword != null" >
        usr_password = #{record.usrPassword,jdbcType=VARCHAR},
      </if>
      <if test="record.usrEmail1 != null" >
        usr_email1 = #{record.usrEmail1,jdbcType=VARCHAR},
      </if>
      <if test="record.usrEmail2 != null" >
        usr_email2 = #{record.usrEmail2,jdbcType=VARCHAR},
      </if>
      <if test="record.usrPhone1 != null" >
        usr_phone1 = #{record.usrPhone1,jdbcType=VARCHAR},
      </if>
      <if test="record.usrPhone2 != null" >
        usr_phone2 = #{record.usrPhone2,jdbcType=VARCHAR},
      </if>
      <if test="record.usrAddress != null" >
        usr_address = #{record.usrAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.usrOrgid != null" >
        usr_orgid = #{record.usrOrgid,jdbcType=VARCHAR},
      </if>
      <if test="record.usrDisable != null" >
        usr_disable = #{record.usrDisable,jdbcType=VARCHAR},
      </if>
      <if test="record.usrT01 != null" >
        usr_t01 = #{record.usrT01,jdbcType=VARCHAR},
      </if>
      <if test="record.usrT02 != null" >
        usr_t02 = #{record.usrT02,jdbcType=VARCHAR},
      </if>
      <if test="record.usrT03 != null" >
        usr_t03 = #{record.usrT03,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_user
    set usr_usrid = #{record.usrUsrid,jdbcType=VARCHAR},
      usr_name = #{record.usrName,jdbcType=VARCHAR},
      usr_password = #{record.usrPassword,jdbcType=VARCHAR},
      usr_email1 = #{record.usrEmail1,jdbcType=VARCHAR},
      usr_email2 = #{record.usrEmail2,jdbcType=VARCHAR},
      usr_phone1 = #{record.usrPhone1,jdbcType=VARCHAR},
      usr_phone2 = #{record.usrPhone2,jdbcType=VARCHAR},
      usr_address = #{record.usrAddress,jdbcType=VARCHAR},
      usr_orgid = #{record.usrOrgid,jdbcType=VARCHAR},
      usr_disable = #{record.usrDisable,jdbcType=VARCHAR},
      usr_t01 = #{record.usrT01,jdbcType=VARCHAR},
      usr_t02 = #{record.usrT02,jdbcType=VARCHAR},
      usr_t03 = #{record.usrT03,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hlic.base.pojo.po.SysUser" >
    update sys_user
    <set >
      <if test="usrName != null" >
        usr_name = #{usrName,jdbcType=VARCHAR},
      </if>
      <if test="usrPassword != null" >
        usr_password = #{usrPassword,jdbcType=VARCHAR},
      </if>
      <if test="usrEmail1 != null" >
        usr_email1 = #{usrEmail1,jdbcType=VARCHAR},
      </if>
      <if test="usrEmail2 != null" >
        usr_email2 = #{usrEmail2,jdbcType=VARCHAR},
      </if>
      <if test="usrPhone1 != null" >
        usr_phone1 = #{usrPhone1,jdbcType=VARCHAR},
      </if>
      <if test="usrPhone2 != null" >
        usr_phone2 = #{usrPhone2,jdbcType=VARCHAR},
      </if>
      <if test="usrAddress != null" >
        usr_address = #{usrAddress,jdbcType=VARCHAR},
      </if>
      <if test="usrOrgid != null" >
        usr_orgid = #{usrOrgid,jdbcType=VARCHAR},
      </if>
      <if test="usrDisable != null" >
        usr_disable = #{usrDisable,jdbcType=VARCHAR},
      </if>
      <if test="usrT01 != null" >
        usr_t01 = #{usrT01,jdbcType=VARCHAR},
      </if>
      <if test="usrT02 != null" >
        usr_t02 = #{usrT02,jdbcType=VARCHAR},
      </if>
      <if test="usrT03 != null" >
        usr_t03 = #{usrT03,jdbcType=VARCHAR},
      </if>
    </set>
    where usr_usrid = #{usrUsrid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hlic.base.pojo.po.SysUser" >
    update sys_user
    set usr_name = #{usrName,jdbcType=VARCHAR},
      usr_password = #{usrPassword,jdbcType=VARCHAR},
      usr_email1 = #{usrEmail1,jdbcType=VARCHAR},
      usr_email2 = #{usrEmail2,jdbcType=VARCHAR},
      usr_phone1 = #{usrPhone1,jdbcType=VARCHAR},
      usr_phone2 = #{usrPhone2,jdbcType=VARCHAR},
      usr_address = #{usrAddress,jdbcType=VARCHAR},
      usr_orgid = #{usrOrgid,jdbcType=VARCHAR},
      usr_disable = #{usrDisable,jdbcType=VARCHAR},
      usr_t01 = #{usrT01,jdbcType=VARCHAR},
      usr_t02 = #{usrT02,jdbcType=VARCHAR},
      usr_t03 = #{usrT03,jdbcType=VARCHAR}
    where usr_usrid = #{usrUsrid,jdbcType=VARCHAR}
  </update>
</mapper>