<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hlic.base.dao.mapper.UsergysMapper" >
  <resultMap id="BaseResultMap" type="com.hlic.base.pojo.po.Usergys" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="mc" property="mc" jdbcType="VARCHAR" />
    <result column="lb" property="lb" jdbcType="VARCHAR" />
    <result column="xkz" property="xkz" jdbcType="VARCHAR" />
    <result column="xkzyxq" property="xkzyxq" jdbcType="VARCHAR" />
    <result column="lxr" property="lxr" jdbcType="VARCHAR" />
    <result column="dh" property="dh" jdbcType="VARCHAR" />
    <result column="jyfw" property="jyfw" jdbcType="VARCHAR" />
    <result column="zcdz" property="zcdz" jdbcType="VARCHAR" />
    <result column="lxdz" property="lxdz" jdbcType="VARCHAR" />
    <result column="yzbm" property="yzbm" jdbcType="VARCHAR" />
    <result column="zzc" property="zzc" jdbcType="VARCHAR" />
    <result column="cz" property="cz" jdbcType="VARCHAR" />
    <result column="frmc" property="frmc" jdbcType="VARCHAR" />
    <result column="frsfz" property="frsfz" jdbcType="VARCHAR" />
    <result column="zczj" property="zczj" jdbcType="VARCHAR" />
    <result column="xse" property="xse" jdbcType="VARCHAR" />
    <result column="dzyx" property="dzyx" jdbcType="VARCHAR" />
    <result column="wz" property="wz" jdbcType="VARCHAR" />
    <result column="dmzh" property="dmzh" jdbcType="VARCHAR" />
    <result column="dmzhyxq" property="dmzhyxq" jdbcType="VARCHAR" />
    <result column="yyzz" property="yyzz" jdbcType="VARCHAR" />
    <result column="yyzzyxq" property="yyzzyxq" jdbcType="VARCHAR" />
    <result column="xyz" property="xyz" jdbcType="VARCHAR" />
    <result column="xyzbm" property="xyzbm" jdbcType="VARCHAR" />
    <result column="xyzyxq" property="xyzyxq" jdbcType="VARCHAR" />
    <result column="gdzc" property="gdzc" jdbcType="VARCHAR" />
    <result column="bz" property="bz" jdbcType="VARCHAR" />
    <result column="vchar1" property="vchar1" jdbcType="VARCHAR" />
    <result column="vchar2" property="vchar2" jdbcType="VARCHAR" />
    <result column="vchar3" property="vchar3" jdbcType="VARCHAR" />
    <result column="vchar4" property="vchar4" jdbcType="VARCHAR" />
    <result column="vchar5" property="vchar5" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.hlic.base.pojo.po.Usergys" extends="BaseResultMap" >
    <result column="jj" property="jj" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, mc, lb, xkz, xkzyxq, lxr, dh, jyfw, zcdz, lxdz, yzbm, zzc, cz, frmc, frsfz, zczj, 
    xse, dzyx, wz, dmzh, dmzhyxq, yyzz, yyzzyxq, xyz, xyzbm, xyzyxq, gdzc, bz, vchar1, 
    vchar2, vchar3, vchar4, vchar5
  </sql>
  <sql id="Blob_Column_List" >
    jj
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.hlic.base.pojo.po.UsergysExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from usergys
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hlic.base.pojo.po.UsergysExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from usergys
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from usergys
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from usergys
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.hlic.base.pojo.po.UsergysExample" >
    delete from usergys
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hlic.base.pojo.po.Usergys" >
    insert into usergys (id, mc, lb, xkz, 
      xkzyxq, lxr, dh, jyfw, 
      zcdz, lxdz, yzbm, zzc, 
      cz, frmc, frsfz, zczj, 
      xse, dzyx, wz, dmzh, 
      dmzhyxq, yyzz, yyzzyxq, 
      xyz, xyzbm, xyzyxq, 
      gdzc, bz, vchar1, vchar2, 
      vchar3, vchar4, vchar5, 
      jj)
    values (#{id,jdbcType=VARCHAR}, #{mc,jdbcType=VARCHAR}, #{lb,jdbcType=VARCHAR}, #{xkz,jdbcType=VARCHAR}, 
      #{xkzyxq,jdbcType=VARCHAR}, #{lxr,jdbcType=VARCHAR}, #{dh,jdbcType=VARCHAR}, #{jyfw,jdbcType=VARCHAR}, 
      #{zcdz,jdbcType=VARCHAR}, #{lxdz,jdbcType=VARCHAR}, #{yzbm,jdbcType=VARCHAR}, #{zzc,jdbcType=VARCHAR}, 
      #{cz,jdbcType=VARCHAR}, #{frmc,jdbcType=VARCHAR}, #{frsfz,jdbcType=VARCHAR}, #{zczj,jdbcType=VARCHAR}, 
      #{xse,jdbcType=VARCHAR}, #{dzyx,jdbcType=VARCHAR}, #{wz,jdbcType=VARCHAR}, #{dmzh,jdbcType=VARCHAR}, 
      #{dmzhyxq,jdbcType=VARCHAR}, #{yyzz,jdbcType=VARCHAR}, #{yyzzyxq,jdbcType=VARCHAR}, 
      #{xyz,jdbcType=VARCHAR}, #{xyzbm,jdbcType=VARCHAR}, #{xyzyxq,jdbcType=VARCHAR}, 
      #{gdzc,jdbcType=VARCHAR}, #{bz,jdbcType=VARCHAR}, #{vchar1,jdbcType=VARCHAR}, #{vchar2,jdbcType=VARCHAR}, 
      #{vchar3,jdbcType=VARCHAR}, #{vchar4,jdbcType=VARCHAR}, #{vchar5,jdbcType=VARCHAR}, 
      #{jj,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hlic.base.pojo.po.Usergys" >
    insert into usergys
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="mc != null" >
        mc,
      </if>
      <if test="lb != null" >
        lb,
      </if>
      <if test="xkz != null" >
        xkz,
      </if>
      <if test="xkzyxq != null" >
        xkzyxq,
      </if>
      <if test="lxr != null" >
        lxr,
      </if>
      <if test="dh != null" >
        dh,
      </if>
      <if test="jyfw != null" >
        jyfw,
      </if>
      <if test="zcdz != null" >
        zcdz,
      </if>
      <if test="lxdz != null" >
        lxdz,
      </if>
      <if test="yzbm != null" >
        yzbm,
      </if>
      <if test="zzc != null" >
        zzc,
      </if>
      <if test="cz != null" >
        cz,
      </if>
      <if test="frmc != null" >
        frmc,
      </if>
      <if test="frsfz != null" >
        frsfz,
      </if>
      <if test="zczj != null" >
        zczj,
      </if>
      <if test="xse != null" >
        xse,
      </if>
      <if test="dzyx != null" >
        dzyx,
      </if>
      <if test="wz != null" >
        wz,
      </if>
      <if test="dmzh != null" >
        dmzh,
      </if>
      <if test="dmzhyxq != null" >
        dmzhyxq,
      </if>
      <if test="yyzz != null" >
        yyzz,
      </if>
      <if test="yyzzyxq != null" >
        yyzzyxq,
      </if>
      <if test="xyz != null" >
        xyz,
      </if>
      <if test="xyzbm != null" >
        xyzbm,
      </if>
      <if test="xyzyxq != null" >
        xyzyxq,
      </if>
      <if test="gdzc != null" >
        gdzc,
      </if>
      <if test="bz != null" >
        bz,
      </if>
      <if test="vchar1 != null" >
        vchar1,
      </if>
      <if test="vchar2 != null" >
        vchar2,
      </if>
      <if test="vchar3 != null" >
        vchar3,
      </if>
      <if test="vchar4 != null" >
        vchar4,
      </if>
      <if test="vchar5 != null" >
        vchar5,
      </if>
      <if test="jj != null" >
        jj,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="mc != null" >
        #{mc,jdbcType=VARCHAR},
      </if>
      <if test="lb != null" >
        #{lb,jdbcType=VARCHAR},
      </if>
      <if test="xkz != null" >
        #{xkz,jdbcType=VARCHAR},
      </if>
      <if test="xkzyxq != null" >
        #{xkzyxq,jdbcType=VARCHAR},
      </if>
      <if test="lxr != null" >
        #{lxr,jdbcType=VARCHAR},
      </if>
      <if test="dh != null" >
        #{dh,jdbcType=VARCHAR},
      </if>
      <if test="jyfw != null" >
        #{jyfw,jdbcType=VARCHAR},
      </if>
      <if test="zcdz != null" >
        #{zcdz,jdbcType=VARCHAR},
      </if>
      <if test="lxdz != null" >
        #{lxdz,jdbcType=VARCHAR},
      </if>
      <if test="yzbm != null" >
        #{yzbm,jdbcType=VARCHAR},
      </if>
      <if test="zzc != null" >
        #{zzc,jdbcType=VARCHAR},
      </if>
      <if test="cz != null" >
        #{cz,jdbcType=VARCHAR},
      </if>
      <if test="frmc != null" >
        #{frmc,jdbcType=VARCHAR},
      </if>
      <if test="frsfz != null" >
        #{frsfz,jdbcType=VARCHAR},
      </if>
      <if test="zczj != null" >
        #{zczj,jdbcType=VARCHAR},
      </if>
      <if test="xse != null" >
        #{xse,jdbcType=VARCHAR},
      </if>
      <if test="dzyx != null" >
        #{dzyx,jdbcType=VARCHAR},
      </if>
      <if test="wz != null" >
        #{wz,jdbcType=VARCHAR},
      </if>
      <if test="dmzh != null" >
        #{dmzh,jdbcType=VARCHAR},
      </if>
      <if test="dmzhyxq != null" >
        #{dmzhyxq,jdbcType=VARCHAR},
      </if>
      <if test="yyzz != null" >
        #{yyzz,jdbcType=VARCHAR},
      </if>
      <if test="yyzzyxq != null" >
        #{yyzzyxq,jdbcType=VARCHAR},
      </if>
      <if test="xyz != null" >
        #{xyz,jdbcType=VARCHAR},
      </if>
      <if test="xyzbm != null" >
        #{xyzbm,jdbcType=VARCHAR},
      </if>
      <if test="xyzyxq != null" >
        #{xyzyxq,jdbcType=VARCHAR},
      </if>
      <if test="gdzc != null" >
        #{gdzc,jdbcType=VARCHAR},
      </if>
      <if test="bz != null" >
        #{bz,jdbcType=VARCHAR},
      </if>
      <if test="vchar1 != null" >
        #{vchar1,jdbcType=VARCHAR},
      </if>
      <if test="vchar2 != null" >
        #{vchar2,jdbcType=VARCHAR},
      </if>
      <if test="vchar3 != null" >
        #{vchar3,jdbcType=VARCHAR},
      </if>
      <if test="vchar4 != null" >
        #{vchar4,jdbcType=VARCHAR},
      </if>
      <if test="vchar5 != null" >
        #{vchar5,jdbcType=VARCHAR},
      </if>
      <if test="jj != null" >
        #{jj,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hlic.base.pojo.po.UsergysExample" resultType="java.lang.Integer" >
    select count(*) from usergys
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update usergys
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.mc != null" >
        mc = #{record.mc,jdbcType=VARCHAR},
      </if>
      <if test="record.lb != null" >
        lb = #{record.lb,jdbcType=VARCHAR},
      </if>
      <if test="record.xkz != null" >
        xkz = #{record.xkz,jdbcType=VARCHAR},
      </if>
      <if test="record.xkzyxq != null" >
        xkzyxq = #{record.xkzyxq,jdbcType=VARCHAR},
      </if>
      <if test="record.lxr != null" >
        lxr = #{record.lxr,jdbcType=VARCHAR},
      </if>
      <if test="record.dh != null" >
        dh = #{record.dh,jdbcType=VARCHAR},
      </if>
      <if test="record.jyfw != null" >
        jyfw = #{record.jyfw,jdbcType=VARCHAR},
      </if>
      <if test="record.zcdz != null" >
        zcdz = #{record.zcdz,jdbcType=VARCHAR},
      </if>
      <if test="record.lxdz != null" >
        lxdz = #{record.lxdz,jdbcType=VARCHAR},
      </if>
      <if test="record.yzbm != null" >
        yzbm = #{record.yzbm,jdbcType=VARCHAR},
      </if>
      <if test="record.zzc != null" >
        zzc = #{record.zzc,jdbcType=VARCHAR},
      </if>
      <if test="record.cz != null" >
        cz = #{record.cz,jdbcType=VARCHAR},
      </if>
      <if test="record.frmc != null" >
        frmc = #{record.frmc,jdbcType=VARCHAR},
      </if>
      <if test="record.frsfz != null" >
        frsfz = #{record.frsfz,jdbcType=VARCHAR},
      </if>
      <if test="record.zczj != null" >
        zczj = #{record.zczj,jdbcType=VARCHAR},
      </if>
      <if test="record.xse != null" >
        xse = #{record.xse,jdbcType=VARCHAR},
      </if>
      <if test="record.dzyx != null" >
        dzyx = #{record.dzyx,jdbcType=VARCHAR},
      </if>
      <if test="record.wz != null" >
        wz = #{record.wz,jdbcType=VARCHAR},
      </if>
      <if test="record.dmzh != null" >
        dmzh = #{record.dmzh,jdbcType=VARCHAR},
      </if>
      <if test="record.dmzhyxq != null" >
        dmzhyxq = #{record.dmzhyxq,jdbcType=VARCHAR},
      </if>
      <if test="record.yyzz != null" >
        yyzz = #{record.yyzz,jdbcType=VARCHAR},
      </if>
      <if test="record.yyzzyxq != null" >
        yyzzyxq = #{record.yyzzyxq,jdbcType=VARCHAR},
      </if>
      <if test="record.xyz != null" >
        xyz = #{record.xyz,jdbcType=VARCHAR},
      </if>
      <if test="record.xyzbm != null" >
        xyzbm = #{record.xyzbm,jdbcType=VARCHAR},
      </if>
      <if test="record.xyzyxq != null" >
        xyzyxq = #{record.xyzyxq,jdbcType=VARCHAR},
      </if>
      <if test="record.gdzc != null" >
        gdzc = #{record.gdzc,jdbcType=VARCHAR},
      </if>
      <if test="record.bz != null" >
        bz = #{record.bz,jdbcType=VARCHAR},
      </if>
      <if test="record.vchar1 != null" >
        vchar1 = #{record.vchar1,jdbcType=VARCHAR},
      </if>
      <if test="record.vchar2 != null" >
        vchar2 = #{record.vchar2,jdbcType=VARCHAR},
      </if>
      <if test="record.vchar3 != null" >
        vchar3 = #{record.vchar3,jdbcType=VARCHAR},
      </if>
      <if test="record.vchar4 != null" >
        vchar4 = #{record.vchar4,jdbcType=VARCHAR},
      </if>
      <if test="record.vchar5 != null" >
        vchar5 = #{record.vchar5,jdbcType=VARCHAR},
      </if>
      <if test="record.jj != null" >
        jj = #{record.jj,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update usergys
    set id = #{record.id,jdbcType=VARCHAR},
      mc = #{record.mc,jdbcType=VARCHAR},
      lb = #{record.lb,jdbcType=VARCHAR},
      xkz = #{record.xkz,jdbcType=VARCHAR},
      xkzyxq = #{record.xkzyxq,jdbcType=VARCHAR},
      lxr = #{record.lxr,jdbcType=VARCHAR},
      dh = #{record.dh,jdbcType=VARCHAR},
      jyfw = #{record.jyfw,jdbcType=VARCHAR},
      zcdz = #{record.zcdz,jdbcType=VARCHAR},
      lxdz = #{record.lxdz,jdbcType=VARCHAR},
      yzbm = #{record.yzbm,jdbcType=VARCHAR},
      zzc = #{record.zzc,jdbcType=VARCHAR},
      cz = #{record.cz,jdbcType=VARCHAR},
      frmc = #{record.frmc,jdbcType=VARCHAR},
      frsfz = #{record.frsfz,jdbcType=VARCHAR},
      zczj = #{record.zczj,jdbcType=VARCHAR},
      xse = #{record.xse,jdbcType=VARCHAR},
      dzyx = #{record.dzyx,jdbcType=VARCHAR},
      wz = #{record.wz,jdbcType=VARCHAR},
      dmzh = #{record.dmzh,jdbcType=VARCHAR},
      dmzhyxq = #{record.dmzhyxq,jdbcType=VARCHAR},
      yyzz = #{record.yyzz,jdbcType=VARCHAR},
      yyzzyxq = #{record.yyzzyxq,jdbcType=VARCHAR},
      xyz = #{record.xyz,jdbcType=VARCHAR},
      xyzbm = #{record.xyzbm,jdbcType=VARCHAR},
      xyzyxq = #{record.xyzyxq,jdbcType=VARCHAR},
      gdzc = #{record.gdzc,jdbcType=VARCHAR},
      bz = #{record.bz,jdbcType=VARCHAR},
      vchar1 = #{record.vchar1,jdbcType=VARCHAR},
      vchar2 = #{record.vchar2,jdbcType=VARCHAR},
      vchar3 = #{record.vchar3,jdbcType=VARCHAR},
      vchar4 = #{record.vchar4,jdbcType=VARCHAR},
      vchar5 = #{record.vchar5,jdbcType=VARCHAR},
      jj = #{record.jj,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update usergys
    set id = #{record.id,jdbcType=VARCHAR},
      mc = #{record.mc,jdbcType=VARCHAR},
      lb = #{record.lb,jdbcType=VARCHAR},
      xkz = #{record.xkz,jdbcType=VARCHAR},
      xkzyxq = #{record.xkzyxq,jdbcType=VARCHAR},
      lxr = #{record.lxr,jdbcType=VARCHAR},
      dh = #{record.dh,jdbcType=VARCHAR},
      jyfw = #{record.jyfw,jdbcType=VARCHAR},
      zcdz = #{record.zcdz,jdbcType=VARCHAR},
      lxdz = #{record.lxdz,jdbcType=VARCHAR},
      yzbm = #{record.yzbm,jdbcType=VARCHAR},
      zzc = #{record.zzc,jdbcType=VARCHAR},
      cz = #{record.cz,jdbcType=VARCHAR},
      frmc = #{record.frmc,jdbcType=VARCHAR},
      frsfz = #{record.frsfz,jdbcType=VARCHAR},
      zczj = #{record.zczj,jdbcType=VARCHAR},
      xse = #{record.xse,jdbcType=VARCHAR},
      dzyx = #{record.dzyx,jdbcType=VARCHAR},
      wz = #{record.wz,jdbcType=VARCHAR},
      dmzh = #{record.dmzh,jdbcType=VARCHAR},
      dmzhyxq = #{record.dmzhyxq,jdbcType=VARCHAR},
      yyzz = #{record.yyzz,jdbcType=VARCHAR},
      yyzzyxq = #{record.yyzzyxq,jdbcType=VARCHAR},
      xyz = #{record.xyz,jdbcType=VARCHAR},
      xyzbm = #{record.xyzbm,jdbcType=VARCHAR},
      xyzyxq = #{record.xyzyxq,jdbcType=VARCHAR},
      gdzc = #{record.gdzc,jdbcType=VARCHAR},
      bz = #{record.bz,jdbcType=VARCHAR},
      vchar1 = #{record.vchar1,jdbcType=VARCHAR},
      vchar2 = #{record.vchar2,jdbcType=VARCHAR},
      vchar3 = #{record.vchar3,jdbcType=VARCHAR},
      vchar4 = #{record.vchar4,jdbcType=VARCHAR},
      vchar5 = #{record.vchar5,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hlic.base.pojo.po.Usergys" >
    update usergys
    <set >
      <if test="mc != null" >
        mc = #{mc,jdbcType=VARCHAR},
      </if>
      <if test="lb != null" >
        lb = #{lb,jdbcType=VARCHAR},
      </if>
      <if test="xkz != null" >
        xkz = #{xkz,jdbcType=VARCHAR},
      </if>
      <if test="xkzyxq != null" >
        xkzyxq = #{xkzyxq,jdbcType=VARCHAR},
      </if>
      <if test="lxr != null" >
        lxr = #{lxr,jdbcType=VARCHAR},
      </if>
      <if test="dh != null" >
        dh = #{dh,jdbcType=VARCHAR},
      </if>
      <if test="jyfw != null" >
        jyfw = #{jyfw,jdbcType=VARCHAR},
      </if>
      <if test="zcdz != null" >
        zcdz = #{zcdz,jdbcType=VARCHAR},
      </if>
      <if test="lxdz != null" >
        lxdz = #{lxdz,jdbcType=VARCHAR},
      </if>
      <if test="yzbm != null" >
        yzbm = #{yzbm,jdbcType=VARCHAR},
      </if>
      <if test="zzc != null" >
        zzc = #{zzc,jdbcType=VARCHAR},
      </if>
      <if test="cz != null" >
        cz = #{cz,jdbcType=VARCHAR},
      </if>
      <if test="frmc != null" >
        frmc = #{frmc,jdbcType=VARCHAR},
      </if>
      <if test="frsfz != null" >
        frsfz = #{frsfz,jdbcType=VARCHAR},
      </if>
      <if test="zczj != null" >
        zczj = #{zczj,jdbcType=VARCHAR},
      </if>
      <if test="xse != null" >
        xse = #{xse,jdbcType=VARCHAR},
      </if>
      <if test="dzyx != null" >
        dzyx = #{dzyx,jdbcType=VARCHAR},
      </if>
      <if test="wz != null" >
        wz = #{wz,jdbcType=VARCHAR},
      </if>
      <if test="dmzh != null" >
        dmzh = #{dmzh,jdbcType=VARCHAR},
      </if>
      <if test="dmzhyxq != null" >
        dmzhyxq = #{dmzhyxq,jdbcType=VARCHAR},
      </if>
      <if test="yyzz != null" >
        yyzz = #{yyzz,jdbcType=VARCHAR},
      </if>
      <if test="yyzzyxq != null" >
        yyzzyxq = #{yyzzyxq,jdbcType=VARCHAR},
      </if>
      <if test="xyz != null" >
        xyz = #{xyz,jdbcType=VARCHAR},
      </if>
      <if test="xyzbm != null" >
        xyzbm = #{xyzbm,jdbcType=VARCHAR},
      </if>
      <if test="xyzyxq != null" >
        xyzyxq = #{xyzyxq,jdbcType=VARCHAR},
      </if>
      <if test="gdzc != null" >
        gdzc = #{gdzc,jdbcType=VARCHAR},
      </if>
      <if test="bz != null" >
        bz = #{bz,jdbcType=VARCHAR},
      </if>
      <if test="vchar1 != null" >
        vchar1 = #{vchar1,jdbcType=VARCHAR},
      </if>
      <if test="vchar2 != null" >
        vchar2 = #{vchar2,jdbcType=VARCHAR},
      </if>
      <if test="vchar3 != null" >
        vchar3 = #{vchar3,jdbcType=VARCHAR},
      </if>
      <if test="vchar4 != null" >
        vchar4 = #{vchar4,jdbcType=VARCHAR},
      </if>
      <if test="vchar5 != null" >
        vchar5 = #{vchar5,jdbcType=VARCHAR},
      </if>
      <if test="jj != null" >
        jj = #{jj,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.hlic.base.pojo.po.Usergys" >
    update usergys
    set mc = #{mc,jdbcType=VARCHAR},
      lb = #{lb,jdbcType=VARCHAR},
      xkz = #{xkz,jdbcType=VARCHAR},
      xkzyxq = #{xkzyxq,jdbcType=VARCHAR},
      lxr = #{lxr,jdbcType=VARCHAR},
      dh = #{dh,jdbcType=VARCHAR},
      jyfw = #{jyfw,jdbcType=VARCHAR},
      zcdz = #{zcdz,jdbcType=VARCHAR},
      lxdz = #{lxdz,jdbcType=VARCHAR},
      yzbm = #{yzbm,jdbcType=VARCHAR},
      zzc = #{zzc,jdbcType=VARCHAR},
      cz = #{cz,jdbcType=VARCHAR},
      frmc = #{frmc,jdbcType=VARCHAR},
      frsfz = #{frsfz,jdbcType=VARCHAR},
      zczj = #{zczj,jdbcType=VARCHAR},
      xse = #{xse,jdbcType=VARCHAR},
      dzyx = #{dzyx,jdbcType=VARCHAR},
      wz = #{wz,jdbcType=VARCHAR},
      dmzh = #{dmzh,jdbcType=VARCHAR},
      dmzhyxq = #{dmzhyxq,jdbcType=VARCHAR},
      yyzz = #{yyzz,jdbcType=VARCHAR},
      yyzzyxq = #{yyzzyxq,jdbcType=VARCHAR},
      xyz = #{xyz,jdbcType=VARCHAR},
      xyzbm = #{xyzbm,jdbcType=VARCHAR},
      xyzyxq = #{xyzyxq,jdbcType=VARCHAR},
      gdzc = #{gdzc,jdbcType=VARCHAR},
      bz = #{bz,jdbcType=VARCHAR},
      vchar1 = #{vchar1,jdbcType=VARCHAR},
      vchar2 = #{vchar2,jdbcType=VARCHAR},
      vchar3 = #{vchar3,jdbcType=VARCHAR},
      vchar4 = #{vchar4,jdbcType=VARCHAR},
      vchar5 = #{vchar5,jdbcType=VARCHAR},
      jj = #{jj,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hlic.base.pojo.po.Usergys" >
    update usergys
    set mc = #{mc,jdbcType=VARCHAR},
      lb = #{lb,jdbcType=VARCHAR},
      xkz = #{xkz,jdbcType=VARCHAR},
      xkzyxq = #{xkzyxq,jdbcType=VARCHAR},
      lxr = #{lxr,jdbcType=VARCHAR},
      dh = #{dh,jdbcType=VARCHAR},
      jyfw = #{jyfw,jdbcType=VARCHAR},
      zcdz = #{zcdz,jdbcType=VARCHAR},
      lxdz = #{lxdz,jdbcType=VARCHAR},
      yzbm = #{yzbm,jdbcType=VARCHAR},
      zzc = #{zzc,jdbcType=VARCHAR},
      cz = #{cz,jdbcType=VARCHAR},
      frmc = #{frmc,jdbcType=VARCHAR},
      frsfz = #{frsfz,jdbcType=VARCHAR},
      zczj = #{zczj,jdbcType=VARCHAR},
      xse = #{xse,jdbcType=VARCHAR},
      dzyx = #{dzyx,jdbcType=VARCHAR},
      wz = #{wz,jdbcType=VARCHAR},
      dmzh = #{dmzh,jdbcType=VARCHAR},
      dmzhyxq = #{dmzhyxq,jdbcType=VARCHAR},
      yyzz = #{yyzz,jdbcType=VARCHAR},
      yyzzyxq = #{yyzzyxq,jdbcType=VARCHAR},
      xyz = #{xyz,jdbcType=VARCHAR},
      xyzbm = #{xyzbm,jdbcType=VARCHAR},
      xyzyxq = #{xyzyxq,jdbcType=VARCHAR},
      gdzc = #{gdzc,jdbcType=VARCHAR},
      bz = #{bz,jdbcType=VARCHAR},
      vchar1 = #{vchar1,jdbcType=VARCHAR},
      vchar2 = #{vchar2,jdbcType=VARCHAR},
      vchar3 = #{vchar3,jdbcType=VARCHAR},
      vchar4 = #{vchar4,jdbcType=VARCHAR},
      vchar5 = #{vchar5,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>