<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hlic.base.dao.mapper.DofDctColsMapper" >
  <resultMap id="BaseResultMap" type="com.hlic.base.pojo.po.DofDctCols" >
    <result column="COL_PK" property="colPk" jdbcType="VARCHAR" />
    <result column="COL_DISP_ORDER" property="colDispOrder" jdbcType="INTEGER" />
    <result column="COL_ID" property="colId" jdbcType="VARCHAR" />
    <result column="COL_FK_DCT" property="colFkDct" jdbcType="VARCHAR" />
    <result column="COL_APP_TYPE" property="colAppType" jdbcType="VARCHAR" />
    <result column="COL_FK_ACCESS" property="colFkAccess" jdbcType="VARCHAR" />
    <result column="DCT_ID" property="dctId" jdbcType="VARCHAR" />
    <result column="COL_FK" property="colFk" jdbcType="VARCHAR" />
    <result column="COL_SHOWMASK" property="colShowmask" jdbcType="VARCHAR" />
    <result column="COL_CAPTION" property="colCaption" jdbcType="VARCHAR" />
    <result column="COL_EDITMASK" property="colEditmask" jdbcType="VARCHAR" />
    <result column="COL_EDIT_STYLE" property="colEditStyle" jdbcType="VARCHAR" />
    <result column="COL_TITLE" property="colTitle" jdbcType="VARCHAR" />
    <result column="COL_USE" property="colUse" jdbcType="VARCHAR" />
    <result column="COL_INTER" property="colInter" jdbcType="VARCHAR" />
    <result column="COL_VISIBLE" property="colVisible" jdbcType="VARCHAR" />
    <result column="COL_DEFAULT" property="colDefault" jdbcType="VARCHAR" />
    <result column="COL_NULL" property="colNull" jdbcType="VARCHAR" />
    <result column="COL_SHOW_SIZE" property="colShowSize" jdbcType="REAL" />
    <result column="COL_CALC" property="colCalc" jdbcType="VARCHAR" />
    <result column="COL_EXP" property="colExp" jdbcType="VARCHAR" />
    <result column="COL_VT" property="colVt" jdbcType="VARCHAR" />
    <result column="COL_VT_REF" property="colVtRef" jdbcType="VARCHAR" />
    <result column="COL_VT_REF_COL" property="colVtRefCol" jdbcType="VARCHAR" />
    <result column="COL_VT_REF_ATTR" property="colVtRefAttr" jdbcType="VARCHAR" />
    <result column="COL_VALI" property="colVali" jdbcType="VARCHAR" />
    <result column="COL_VALI_EXP" property="colValiExp" jdbcType="VARCHAR" />
    <result column="COL_VALI_MSG" property="colValiMsg" jdbcType="VARCHAR" />
    <result column="COL_REG" property="colReg" jdbcType="VARCHAR" />
    <result column="COL_REG_EXP" property="colRegExp" jdbcType="VARCHAR" />
    <result column="COL_REG_MSG" property="colRegMsg" jdbcType="VARCHAR" />
    <result column="COL_EDITABLE" property="colEditable" jdbcType="VARCHAR" />
    <result column="COL_ELEMENT_TYPE_MODE" property="colElementTypeMode" jdbcType="VARCHAR" />
    <result column="COL_ELEMENT_TYPE" property="colElementType" jdbcType="VARCHAR" />
    <result column="COL_ENUM" property="colEnum" jdbcType="VARCHAR" />
    <result column="COL_ENUM_KEY" property="colEnumKey" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    COL_PK, COL_DISP_ORDER, COL_ID, COL_FK_DCT, COL_APP_TYPE, COL_FK_ACCESS, DCT_ID, 
    COL_FK, COL_SHOWMASK, COL_CAPTION, COL_EDITMASK, COL_EDIT_STYLE, COL_TITLE, COL_USE, 
    COL_INTER, COL_VISIBLE, COL_DEFAULT, COL_NULL, COL_SHOW_SIZE, COL_CALC, COL_EXP, 
    COL_VT, COL_VT_REF, COL_VT_REF_COL, COL_VT_REF_ATTR, COL_VALI, COL_VALI_EXP, COL_VALI_MSG, 
    COL_REG, COL_REG_EXP, COL_REG_MSG, COL_EDITABLE, COL_ELEMENT_TYPE_MODE, COL_ELEMENT_TYPE, 
    COL_ENUM, COL_ENUM_KEY
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hlic.base.pojo.po.DofDctColsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dof_dct_cols
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.hlic.base.pojo.po.DofDctColsExample" >
    delete from dof_dct_cols
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hlic.base.pojo.po.DofDctCols" >
    insert into dof_dct_cols (COL_PK, COL_DISP_ORDER, COL_ID, 
      COL_FK_DCT, COL_APP_TYPE, COL_FK_ACCESS, 
      DCT_ID, COL_FK, COL_SHOWMASK, 
      COL_CAPTION, COL_EDITMASK, COL_EDIT_STYLE, 
      COL_TITLE, COL_USE, COL_INTER, 
      COL_VISIBLE, COL_DEFAULT, COL_NULL, 
      COL_SHOW_SIZE, COL_CALC, COL_EXP, 
      COL_VT, COL_VT_REF, COL_VT_REF_COL, 
      COL_VT_REF_ATTR, COL_VALI, COL_VALI_EXP, 
      COL_VALI_MSG, COL_REG, COL_REG_EXP, 
      COL_REG_MSG, COL_EDITABLE, COL_ELEMENT_TYPE_MODE, 
      COL_ELEMENT_TYPE, COL_ENUM, COL_ENUM_KEY
      )
    values (#{colPk,jdbcType=VARCHAR}, #{colDispOrder,jdbcType=INTEGER}, #{colId,jdbcType=VARCHAR}, 
      #{colFkDct,jdbcType=VARCHAR}, #{colAppType,jdbcType=VARCHAR}, #{colFkAccess,jdbcType=VARCHAR}, 
      #{dctId,jdbcType=VARCHAR}, #{colFk,jdbcType=VARCHAR}, #{colShowmask,jdbcType=VARCHAR}, 
      #{colCaption,jdbcType=VARCHAR}, #{colEditmask,jdbcType=VARCHAR}, #{colEditStyle,jdbcType=VARCHAR}, 
      #{colTitle,jdbcType=VARCHAR}, #{colUse,jdbcType=VARCHAR}, #{colInter,jdbcType=VARCHAR}, 
      #{colVisible,jdbcType=VARCHAR}, #{colDefault,jdbcType=VARCHAR}, #{colNull,jdbcType=VARCHAR}, 
      #{colShowSize,jdbcType=REAL}, #{colCalc,jdbcType=VARCHAR}, #{colExp,jdbcType=VARCHAR}, 
      #{colVt,jdbcType=VARCHAR}, #{colVtRef,jdbcType=VARCHAR}, #{colVtRefCol,jdbcType=VARCHAR}, 
      #{colVtRefAttr,jdbcType=VARCHAR}, #{colVali,jdbcType=VARCHAR}, #{colValiExp,jdbcType=VARCHAR}, 
      #{colValiMsg,jdbcType=VARCHAR}, #{colReg,jdbcType=VARCHAR}, #{colRegExp,jdbcType=VARCHAR}, 
      #{colRegMsg,jdbcType=VARCHAR}, #{colEditable,jdbcType=VARCHAR}, #{colElementTypeMode,jdbcType=VARCHAR}, 
      #{colElementType,jdbcType=VARCHAR}, #{colEnum,jdbcType=VARCHAR}, #{colEnumKey,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hlic.base.pojo.po.DofDctCols" >
    insert into dof_dct_cols
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="colPk != null" >
        COL_PK,
      </if>
      <if test="colDispOrder != null" >
        COL_DISP_ORDER,
      </if>
      <if test="colId != null" >
        COL_ID,
      </if>
      <if test="colFkDct != null" >
        COL_FK_DCT,
      </if>
      <if test="colAppType != null" >
        COL_APP_TYPE,
      </if>
      <if test="colFkAccess != null" >
        COL_FK_ACCESS,
      </if>
      <if test="dctId != null" >
        DCT_ID,
      </if>
      <if test="colFk != null" >
        COL_FK,
      </if>
      <if test="colShowmask != null" >
        COL_SHOWMASK,
      </if>
      <if test="colCaption != null" >
        COL_CAPTION,
      </if>
      <if test="colEditmask != null" >
        COL_EDITMASK,
      </if>
      <if test="colEditStyle != null" >
        COL_EDIT_STYLE,
      </if>
      <if test="colTitle != null" >
        COL_TITLE,
      </if>
      <if test="colUse != null" >
        COL_USE,
      </if>
      <if test="colInter != null" >
        COL_INTER,
      </if>
      <if test="colVisible != null" >
        COL_VISIBLE,
      </if>
      <if test="colDefault != null" >
        COL_DEFAULT,
      </if>
      <if test="colNull != null" >
        COL_NULL,
      </if>
      <if test="colShowSize != null" >
        COL_SHOW_SIZE,
      </if>
      <if test="colCalc != null" >
        COL_CALC,
      </if>
      <if test="colExp != null" >
        COL_EXP,
      </if>
      <if test="colVt != null" >
        COL_VT,
      </if>
      <if test="colVtRef != null" >
        COL_VT_REF,
      </if>
      <if test="colVtRefCol != null" >
        COL_VT_REF_COL,
      </if>
      <if test="colVtRefAttr != null" >
        COL_VT_REF_ATTR,
      </if>
      <if test="colVali != null" >
        COL_VALI,
      </if>
      <if test="colValiExp != null" >
        COL_VALI_EXP,
      </if>
      <if test="colValiMsg != null" >
        COL_VALI_MSG,
      </if>
      <if test="colReg != null" >
        COL_REG,
      </if>
      <if test="colRegExp != null" >
        COL_REG_EXP,
      </if>
      <if test="colRegMsg != null" >
        COL_REG_MSG,
      </if>
      <if test="colEditable != null" >
        COL_EDITABLE,
      </if>
      <if test="colElementTypeMode != null" >
        COL_ELEMENT_TYPE_MODE,
      </if>
      <if test="colElementType != null" >
        COL_ELEMENT_TYPE,
      </if>
      <if test="colEnum != null" >
        COL_ENUM,
      </if>
      <if test="colEnumKey != null" >
        COL_ENUM_KEY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="colPk != null" >
        #{colPk,jdbcType=VARCHAR},
      </if>
      <if test="colDispOrder != null" >
        #{colDispOrder,jdbcType=INTEGER},
      </if>
      <if test="colId != null" >
        #{colId,jdbcType=VARCHAR},
      </if>
      <if test="colFkDct != null" >
        #{colFkDct,jdbcType=VARCHAR},
      </if>
      <if test="colAppType != null" >
        #{colAppType,jdbcType=VARCHAR},
      </if>
      <if test="colFkAccess != null" >
        #{colFkAccess,jdbcType=VARCHAR},
      </if>
      <if test="dctId != null" >
        #{dctId,jdbcType=VARCHAR},
      </if>
      <if test="colFk != null" >
        #{colFk,jdbcType=VARCHAR},
      </if>
      <if test="colShowmask != null" >
        #{colShowmask,jdbcType=VARCHAR},
      </if>
      <if test="colCaption != null" >
        #{colCaption,jdbcType=VARCHAR},
      </if>
      <if test="colEditmask != null" >
        #{colEditmask,jdbcType=VARCHAR},
      </if>
      <if test="colEditStyle != null" >
        #{colEditStyle,jdbcType=VARCHAR},
      </if>
      <if test="colTitle != null" >
        #{colTitle,jdbcType=VARCHAR},
      </if>
      <if test="colUse != null" >
        #{colUse,jdbcType=VARCHAR},
      </if>
      <if test="colInter != null" >
        #{colInter,jdbcType=VARCHAR},
      </if>
      <if test="colVisible != null" >
        #{colVisible,jdbcType=VARCHAR},
      </if>
      <if test="colDefault != null" >
        #{colDefault,jdbcType=VARCHAR},
      </if>
      <if test="colNull != null" >
        #{colNull,jdbcType=VARCHAR},
      </if>
      <if test="colShowSize != null" >
        #{colShowSize,jdbcType=REAL},
      </if>
      <if test="colCalc != null" >
        #{colCalc,jdbcType=VARCHAR},
      </if>
      <if test="colExp != null" >
        #{colExp,jdbcType=VARCHAR},
      </if>
      <if test="colVt != null" >
        #{colVt,jdbcType=VARCHAR},
      </if>
      <if test="colVtRef != null" >
        #{colVtRef,jdbcType=VARCHAR},
      </if>
      <if test="colVtRefCol != null" >
        #{colVtRefCol,jdbcType=VARCHAR},
      </if>
      <if test="colVtRefAttr != null" >
        #{colVtRefAttr,jdbcType=VARCHAR},
      </if>
      <if test="colVali != null" >
        #{colVali,jdbcType=VARCHAR},
      </if>
      <if test="colValiExp != null" >
        #{colValiExp,jdbcType=VARCHAR},
      </if>
      <if test="colValiMsg != null" >
        #{colValiMsg,jdbcType=VARCHAR},
      </if>
      <if test="colReg != null" >
        #{colReg,jdbcType=VARCHAR},
      </if>
      <if test="colRegExp != null" >
        #{colRegExp,jdbcType=VARCHAR},
      </if>
      <if test="colRegMsg != null" >
        #{colRegMsg,jdbcType=VARCHAR},
      </if>
      <if test="colEditable != null" >
        #{colEditable,jdbcType=VARCHAR},
      </if>
      <if test="colElementTypeMode != null" >
        #{colElementTypeMode,jdbcType=VARCHAR},
      </if>
      <if test="colElementType != null" >
        #{colElementType,jdbcType=VARCHAR},
      </if>
      <if test="colEnum != null" >
        #{colEnum,jdbcType=VARCHAR},
      </if>
      <if test="colEnumKey != null" >
        #{colEnumKey,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hlic.base.pojo.po.DofDctColsExample" resultType="java.lang.Integer" >
    select count(*) from dof_dct_cols
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update dof_dct_cols
    <set >
      <if test="record.colPk != null" >
        COL_PK = #{record.colPk,jdbcType=VARCHAR},
      </if>
      <if test="record.colDispOrder != null" >
        COL_DISP_ORDER = #{record.colDispOrder,jdbcType=INTEGER},
      </if>
      <if test="record.colId != null" >
        COL_ID = #{record.colId,jdbcType=VARCHAR},
      </if>
      <if test="record.colFkDct != null" >
        COL_FK_DCT = #{record.colFkDct,jdbcType=VARCHAR},
      </if>
      <if test="record.colAppType != null" >
        COL_APP_TYPE = #{record.colAppType,jdbcType=VARCHAR},
      </if>
      <if test="record.colFkAccess != null" >
        COL_FK_ACCESS = #{record.colFkAccess,jdbcType=VARCHAR},
      </if>
      <if test="record.dctId != null" >
        DCT_ID = #{record.dctId,jdbcType=VARCHAR},
      </if>
      <if test="record.colFk != null" >
        COL_FK = #{record.colFk,jdbcType=VARCHAR},
      </if>
      <if test="record.colShowmask != null" >
        COL_SHOWMASK = #{record.colShowmask,jdbcType=VARCHAR},
      </if>
      <if test="record.colCaption != null" >
        COL_CAPTION = #{record.colCaption,jdbcType=VARCHAR},
      </if>
      <if test="record.colEditmask != null" >
        COL_EDITMASK = #{record.colEditmask,jdbcType=VARCHAR},
      </if>
      <if test="record.colEditStyle != null" >
        COL_EDIT_STYLE = #{record.colEditStyle,jdbcType=VARCHAR},
      </if>
      <if test="record.colTitle != null" >
        COL_TITLE = #{record.colTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.colUse != null" >
        COL_USE = #{record.colUse,jdbcType=VARCHAR},
      </if>
      <if test="record.colInter != null" >
        COL_INTER = #{record.colInter,jdbcType=VARCHAR},
      </if>
      <if test="record.colVisible != null" >
        COL_VISIBLE = #{record.colVisible,jdbcType=VARCHAR},
      </if>
      <if test="record.colDefault != null" >
        COL_DEFAULT = #{record.colDefault,jdbcType=VARCHAR},
      </if>
      <if test="record.colNull != null" >
        COL_NULL = #{record.colNull,jdbcType=VARCHAR},
      </if>
      <if test="record.colShowSize != null" >
        COL_SHOW_SIZE = #{record.colShowSize,jdbcType=REAL},
      </if>
      <if test="record.colCalc != null" >
        COL_CALC = #{record.colCalc,jdbcType=VARCHAR},
      </if>
      <if test="record.colExp != null" >
        COL_EXP = #{record.colExp,jdbcType=VARCHAR},
      </if>
      <if test="record.colVt != null" >
        COL_VT = #{record.colVt,jdbcType=VARCHAR},
      </if>
      <if test="record.colVtRef != null" >
        COL_VT_REF = #{record.colVtRef,jdbcType=VARCHAR},
      </if>
      <if test="record.colVtRefCol != null" >
        COL_VT_REF_COL = #{record.colVtRefCol,jdbcType=VARCHAR},
      </if>
      <if test="record.colVtRefAttr != null" >
        COL_VT_REF_ATTR = #{record.colVtRefAttr,jdbcType=VARCHAR},
      </if>
      <if test="record.colVali != null" >
        COL_VALI = #{record.colVali,jdbcType=VARCHAR},
      </if>
      <if test="record.colValiExp != null" >
        COL_VALI_EXP = #{record.colValiExp,jdbcType=VARCHAR},
      </if>
      <if test="record.colValiMsg != null" >
        COL_VALI_MSG = #{record.colValiMsg,jdbcType=VARCHAR},
      </if>
      <if test="record.colReg != null" >
        COL_REG = #{record.colReg,jdbcType=VARCHAR},
      </if>
      <if test="record.colRegExp != null" >
        COL_REG_EXP = #{record.colRegExp,jdbcType=VARCHAR},
      </if>
      <if test="record.colRegMsg != null" >
        COL_REG_MSG = #{record.colRegMsg,jdbcType=VARCHAR},
      </if>
      <if test="record.colEditable != null" >
        COL_EDITABLE = #{record.colEditable,jdbcType=VARCHAR},
      </if>
      <if test="record.colElementTypeMode != null" >
        COL_ELEMENT_TYPE_MODE = #{record.colElementTypeMode,jdbcType=VARCHAR},
      </if>
      <if test="record.colElementType != null" >
        COL_ELEMENT_TYPE = #{record.colElementType,jdbcType=VARCHAR},
      </if>
      <if test="record.colEnum != null" >
        COL_ENUM = #{record.colEnum,jdbcType=VARCHAR},
      </if>
      <if test="record.colEnumKey != null" >
        COL_ENUM_KEY = #{record.colEnumKey,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update dof_dct_cols
    set COL_PK = #{record.colPk,jdbcType=VARCHAR},
      COL_DISP_ORDER = #{record.colDispOrder,jdbcType=INTEGER},
      COL_ID = #{record.colId,jdbcType=VARCHAR},
      COL_FK_DCT = #{record.colFkDct,jdbcType=VARCHAR},
      COL_APP_TYPE = #{record.colAppType,jdbcType=VARCHAR},
      COL_FK_ACCESS = #{record.colFkAccess,jdbcType=VARCHAR},
      DCT_ID = #{record.dctId,jdbcType=VARCHAR},
      COL_FK = #{record.colFk,jdbcType=VARCHAR},
      COL_SHOWMASK = #{record.colShowmask,jdbcType=VARCHAR},
      COL_CAPTION = #{record.colCaption,jdbcType=VARCHAR},
      COL_EDITMASK = #{record.colEditmask,jdbcType=VARCHAR},
      COL_EDIT_STYLE = #{record.colEditStyle,jdbcType=VARCHAR},
      COL_TITLE = #{record.colTitle,jdbcType=VARCHAR},
      COL_USE = #{record.colUse,jdbcType=VARCHAR},
      COL_INTER = #{record.colInter,jdbcType=VARCHAR},
      COL_VISIBLE = #{record.colVisible,jdbcType=VARCHAR},
      COL_DEFAULT = #{record.colDefault,jdbcType=VARCHAR},
      COL_NULL = #{record.colNull,jdbcType=VARCHAR},
      COL_SHOW_SIZE = #{record.colShowSize,jdbcType=REAL},
      COL_CALC = #{record.colCalc,jdbcType=VARCHAR},
      COL_EXP = #{record.colExp,jdbcType=VARCHAR},
      COL_VT = #{record.colVt,jdbcType=VARCHAR},
      COL_VT_REF = #{record.colVtRef,jdbcType=VARCHAR},
      COL_VT_REF_COL = #{record.colVtRefCol,jdbcType=VARCHAR},
      COL_VT_REF_ATTR = #{record.colVtRefAttr,jdbcType=VARCHAR},
      COL_VALI = #{record.colVali,jdbcType=VARCHAR},
      COL_VALI_EXP = #{record.colValiExp,jdbcType=VARCHAR},
      COL_VALI_MSG = #{record.colValiMsg,jdbcType=VARCHAR},
      COL_REG = #{record.colReg,jdbcType=VARCHAR},
      COL_REG_EXP = #{record.colRegExp,jdbcType=VARCHAR},
      COL_REG_MSG = #{record.colRegMsg,jdbcType=VARCHAR},
      COL_EDITABLE = #{record.colEditable,jdbcType=VARCHAR},
      COL_ELEMENT_TYPE_MODE = #{record.colElementTypeMode,jdbcType=VARCHAR},
      COL_ELEMENT_TYPE = #{record.colElementType,jdbcType=VARCHAR},
      COL_ENUM = #{record.colEnum,jdbcType=VARCHAR},
      COL_ENUM_KEY = #{record.colEnumKey,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>