<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hlic.base.dao.mapper.SysMenusMapper" >
  <resultMap id="BaseResultMap" type="com.hlic.base.pojo.po.SysMenus" >
    <id column="f_menu_id" property="fMenuId" jdbcType="VARCHAR" />
    <result column="f_menu_name" property="fMenuName" jdbcType="VARCHAR" />
    <result column="f_desc" property="fDesc" jdbcType="VARCHAR" />
    <result column="f_func_id" property="fFuncId" jdbcType="VARCHAR" />
    <result column="f_icon" property="fIcon" jdbcType="VARCHAR" />
    <result column="f_disable" property="fDisable" jdbcType="VARCHAR" />
    <result column="f_level" property="fLevel" jdbcType="INTEGER" />
    <result column="f_leaf" property="fLeaf" jdbcType="VARCHAR" />
    <result column="f_parent" property="fParent" jdbcType="VARCHAR" />
    <result column="f_t1" property="fT1" jdbcType="VARCHAR" />
    <result column="f_t2" property="fT2" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap type="com.hlic.base.pojo.po.SysMenus" id="SysMenusResultMap">
    <id column="f_menu_id" property="fMenuId" jdbcType="VARCHAR" />
    <result column="f_menu_name" property="fMenuName" jdbcType="VARCHAR" />
    <result column="f_desc" property="fDesc" jdbcType="VARCHAR" />
    <result column="f_func_id" property="fFuncId" jdbcType="VARCHAR" />
    <result column="f_icon" property="fIcon" jdbcType="VARCHAR" />
    <result column="f_disable" property="fDisable" jdbcType="VARCHAR" />
    <result column="f_level" property="fLevel" jdbcType="INTEGER" />
    <result column="f_leaf" property="fLeaf" jdbcType="VARCHAR" />
    <result column="f_parent" property="fParent" jdbcType="VARCHAR" />
    <result column="f_t1" property="fT1" jdbcType="VARCHAR" />
    <result column="f_t2" property="fT2" jdbcType="VARCHAR" />
    <!-- ofType指定sysfunc集合中的对象类型 -->
    <collection property="sysFuns" ofType="com.hlic.base.pojo.po.SysFunc">
        <id column="F_BH" property="fBh" jdbcType="INTEGER" />
	    <result column="f_mc" property="fMc" jdbcType="VARCHAR" />
	    <result column="f_js" property="fJs" jdbcType="INTEGER" />
	    <result column="f_mx" property="fMx" jdbcType="VARCHAR" />
	    <result column="f_text" property="fText" jdbcType="VARCHAR" />
	    <result column="f_icon" property="fIcon" jdbcType="VARCHAR" />
	    <result column="f_image" property="fImage" jdbcType="VARCHAR" />
	    <result column="f_app_id" property="fAppId" jdbcType="VARCHAR" />
	    <result column="f_url" property="fUrl" jdbcType="VARCHAR" />
	    <result column="f_parent" property="fParent" jdbcType="VARCHAR" />
	    <result column="f_disable" property="fDisable" jdbcType="VARCHAR" />
	    <result column="f_p1_id" property="fP1Id" jdbcType="VARCHAR" />
	    <result column="f_p1_value" property="fP1Value" jdbcType="VARCHAR" />
	    <result column="f_p2_id" property="fP2Id" jdbcType="VARCHAR" />
	    <result column="f_p2_value" property="fP2Value" jdbcType="VARCHAR" />
    </collection>
  </resultMap>
  <select id="querymenusList" resultMap="SysMenusResultMap">
       SELECT * FROM sys_menus m LEFT JOIN sys_func f ON m.f_func_id=f.f_bh ORDER BY m.f_menu_id ASC
  </select>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    f_menu_id, f_menu_name, f_desc, f_func_id, f_icon, f_disable, f_level, f_leaf, f_parent, 
    f_t1, f_t2
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hlic.base.pojo.po.SysMenusExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_menus
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="querymenusListA" resultMap="BaseResultMap" parameterType="com.hlic.base.pojo.po.SysMenus">
  	select * from sys_menus 
    <if test="fParent != null" >
      where f_parent = #{fParent,jdbcType=VARCHAR}
    </if>
  </select>
  <insert id="insertByBatch" parameterType="java.util.List"> 
	<![CDATA[ 
	    insert into sys_func (fBh,fMc,fJs,fMx,fText,fIcon,fImage,fAppId,fUrl,fParent,fDisable,fP1Id,fP1Value,fP2Id,fP2Value)  
	    values 
	    <foreach collection="list" item="item" index="index" separator="," > 
	        (#{item.fBh},#{item.fMc},#{item.fJs},#{item.fMx},#{item.fText},#{item.fIcon},#{item.fImage},#{item.fAppId},#{item.fUrl},#{item.fParent},#{item.fDisable},#{item.fP1Id},#{item.fP1Value},#{item.fP2Id},#{item.fP2Value}) 
	    </foreach> 
	]]>  
  </insert>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_menus
    where f_menu_id = #{fMenuId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_menus
    where f_menu_id = #{fMenuId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.hlic.base.pojo.po.SysMenusExample" >
    delete from sys_menus
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="addSysMenusRecordBatch" useGeneratedKeys="true" parameterType="java.util.List"> 
	<selectKey resultType="long" keyProperty="id" order="AFTER"> 
		SELECT 
		LAST_INSERT_ID() 
	</selectKey> 
	insert into sys_menus 
	 <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fMenuName != null" >
        f_menu_name,
      </if>
      <if test="fDesc != null" >
        f_desc,
      </if>
      <if test="fFuncId != null" >
        f_func_id,
      </if>
      <if test="fIcon != null" >
        f_icon,
      </if>
      <if test="fDisable != null" >
        f_disable,
      </if>
      <if test="fLevel != null" >
        f_level,
      </if>
      <if test="fLeaf != null" >
        f_leaf,
      </if>
      <if test="fParent != null" >
        f_parent,
      </if>
      <if test="fT1 != null" >
        f_t1,
      </if>
      <if test="fT2 != null" >
        f_t2,
      </if>
    </trim>
	<foreach collection="list" item="item" index="index" separator="," > 
		<trim prefix="values (" suffix=")" suffixOverrides="," >
	      <if test="fMenuName != null" >
	        #{fMenuName,jdbcType=VARCHAR},
	      </if>
	      <if test="fDesc != null" >
	        #{fDesc,jdbcType=VARCHAR},
	      </if>
	      <if test="fFuncId != null" >
	        #{fFuncId,jdbcType=VARCHAR},
	      </if>
	      <if test="fIcon != null" >
	        #{fIcon,jdbcType=VARCHAR},
	      </if>
	      <if test="fDisable != null" >
	        #{fDisable,jdbcType=VARCHAR},
	      </if>
	      <if test="fLevel != null" >
	        #{fLevel,jdbcType=INTEGER},
	      </if>
	      <if test="fLeaf != null" >
	        #{fLeaf,jdbcType=VARCHAR},
	      </if>
	      <if test="fParent != null" >
	        #{fParent,jdbcType=VARCHAR},
	      </if>
	      <if test="fT1 != null" >
	        #{fT1,jdbcType=VARCHAR},
	      </if>
	      <if test="fT2 != null" >
	        #{fT2,jdbcType=VARCHAR},
	      </if>
	    </trim> 
	</foreach> 
</insert>
  <insert id="insert" parameterType="com.hlic.base.pojo.po.SysMenus" >
    insert into sys_menus (f_menu_id, f_menu_name, f_desc, 
      f_func_id, f_icon, f_disable, 
      f_level, f_leaf, f_parent, 
      f_t1, f_t2)
    values (#{fMenuId,jdbcType=VARCHAR}, #{fMenuName,jdbcType=VARCHAR}, #{fDesc,jdbcType=VARCHAR}, 
      #{fFuncId,jdbcType=VARCHAR}, #{fIcon,jdbcType=VARCHAR}, #{fDisable,jdbcType=VARCHAR}, 
      #{fLevel,jdbcType=INTEGER}, #{fLeaf,jdbcType=VARCHAR}, #{fParent,jdbcType=VARCHAR}, 
      #{fT1,jdbcType=VARCHAR}, #{fT2,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hlic.base.pojo.po.SysMenus" >
    insert into sys_menus
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fMenuId != null" >
        f_menu_id,
      </if>
      <if test="fMenuName != null" >
        f_menu_name,
      </if>
      <if test="fDesc != null" >
        f_desc,
      </if>
      <if test="fFuncId != null" >
        f_func_id,
      </if>
      <if test="fIcon != null" >
        f_icon,
      </if>
      <if test="fDisable != null" >
        f_disable,
      </if>
      <if test="fLevel != null" >
        f_level,
      </if>
      <if test="fLeaf != null" >
        f_leaf,
      </if>
      <if test="fParent != null" >
        f_parent,
      </if>
      <if test="fT1 != null" >
        f_t1,
      </if>
      <if test="fT2 != null" >
        f_t2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fMenuId != null" >
        #{fMenuId,jdbcType=VARCHAR},
      </if>
      <if test="fMenuName != null" >
        #{fMenuName,jdbcType=VARCHAR},
      </if>
      <if test="fDesc != null" >
        #{fDesc,jdbcType=VARCHAR},
      </if>
      <if test="fFuncId != null" >
        #{fFuncId,jdbcType=VARCHAR},
      </if>
      <if test="fIcon != null" >
        #{fIcon,jdbcType=VARCHAR},
      </if>
      <if test="fDisable != null" >
        #{fDisable,jdbcType=VARCHAR},
      </if>
      <if test="fLevel != null" >
        #{fLevel,jdbcType=INTEGER},
      </if>
      <if test="fLeaf != null" >
        #{fLeaf,jdbcType=VARCHAR},
      </if>
      <if test="fParent != null" >
        #{fParent,jdbcType=VARCHAR},
      </if>
      <if test="fT1 != null" >
        #{fT1,jdbcType=VARCHAR},
      </if>
      <if test="fT2 != null" >
        #{fT2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hlic.base.pojo.po.SysMenusExample" resultType="java.lang.Integer" >
    select count(*) from sys_menus
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_menus
    <set >
      <if test="record.fMenuId != null" >
        f_menu_id = #{record.fMenuId,jdbcType=VARCHAR},
      </if>
      <if test="record.fMenuName != null" >
        f_menu_name = #{record.fMenuName,jdbcType=VARCHAR},
      </if>
      <if test="record.fDesc != null" >
        f_desc = #{record.fDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.fFuncId != null" >
        f_func_id = #{record.fFuncId,jdbcType=VARCHAR},
      </if>
      <if test="record.fIcon != null" >
        f_icon = #{record.fIcon,jdbcType=VARCHAR},
      </if>
      <if test="record.fDisable != null" >
        f_disable = #{record.fDisable,jdbcType=VARCHAR},
      </if>
      <if test="record.fLevel != null" >
        f_level = #{record.fLevel,jdbcType=INTEGER},
      </if>
      <if test="record.fLeaf != null" >
        f_leaf = #{record.fLeaf,jdbcType=VARCHAR},
      </if>
      <if test="record.fParent != null" >
        f_parent = #{record.fParent,jdbcType=VARCHAR},
      </if>
      <if test="record.fT1 != null" >
        f_t1 = #{record.fT1,jdbcType=VARCHAR},
      </if>
      <if test="record.fT2 != null" >
        f_t2 = #{record.fT2,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_menus
    set f_menu_id = #{record.fMenuId,jdbcType=VARCHAR},
      f_menu_name = #{record.fMenuName,jdbcType=VARCHAR},
      f_desc = #{record.fDesc,jdbcType=VARCHAR},
      f_func_id = #{record.fFuncId,jdbcType=VARCHAR},
      f_icon = #{record.fIcon,jdbcType=VARCHAR},
      f_disable = #{record.fDisable,jdbcType=VARCHAR},
      f_level = #{record.fLevel,jdbcType=INTEGER},
      f_leaf = #{record.fLeaf,jdbcType=VARCHAR},
      f_parent = #{record.fParent,jdbcType=VARCHAR},
      f_t1 = #{record.fT1,jdbcType=VARCHAR},
      f_t2 = #{record.fT2,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hlic.base.pojo.po.SysMenus" >
    update sys_menus
    <set >
      <if test="fMenuName != null" >
        f_menu_name = #{fMenuName,jdbcType=VARCHAR},
      </if>
      <if test="fDesc != null" >
        f_desc = #{fDesc,jdbcType=VARCHAR},
      </if>
      <if test="fFuncId != null" >
        f_func_id = #{fFuncId,jdbcType=VARCHAR},
      </if>
      <if test="fIcon != null" >
        f_icon = #{fIcon,jdbcType=VARCHAR},
      </if>
      <if test="fDisable != null" >
        f_disable = #{fDisable,jdbcType=VARCHAR},
      </if>
      <if test="fLevel != null" >
        f_level = #{fLevel,jdbcType=INTEGER},
      </if>
      <if test="fLeaf != null" >
        f_leaf = #{fLeaf,jdbcType=VARCHAR},
      </if>
      <if test="fParent != null" >
        f_parent = #{fParent,jdbcType=VARCHAR},
      </if>
      <if test="fT1 != null" >
        f_t1 = #{fT1,jdbcType=VARCHAR},
      </if>
      <if test="fT2 != null" >
        f_t2 = #{fT2,jdbcType=VARCHAR},
      </if>
    </set>
    where f_menu_id = #{fMenuId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hlic.base.pojo.po.SysMenus" >
    update sys_menus
    set f_menu_name = #{fMenuName,jdbcType=VARCHAR},
      f_desc = #{fDesc,jdbcType=VARCHAR},
      f_func_id = #{fFuncId,jdbcType=VARCHAR},
      f_icon = #{fIcon,jdbcType=VARCHAR},
      f_disable = #{fDisable,jdbcType=VARCHAR},
      f_level = #{fLevel,jdbcType=INTEGER},
      f_leaf = #{fLeaf,jdbcType=VARCHAR},
      f_parent = #{fParent,jdbcType=VARCHAR},
      f_t1 = #{fT1,jdbcType=VARCHAR},
      f_t2 = #{fT2,jdbcType=VARCHAR}
    where f_menu_id = #{fMenuId,jdbcType=VARCHAR}
  </update>
</mapper>