<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hlic.base.dao.mapper.WdRptqueryFilterMapper" >
  <resultMap id="BaseResultMap" type="com.hlic.base.pojo.po.WdRptqueryFilter" >
    <id column="F_PKEY" property="fPkey" jdbcType="VARCHAR" />
    <result column="F_PARAM_NAME" property="fParamName" jdbcType="VARCHAR" />
    <result column="F_PARAM_DESC" property="fParamDesc" jdbcType="VARCHAR" />
    <result column="F_PARAM_EXP" property="fParamExp" jdbcType="VARCHAR" />
    <result column="F_BIZ_CODE" property="fBizCode" jdbcType="VARCHAR" />
    <result column="F_DISABLE" property="fDisable" jdbcType="VARCHAR" />
    <result column="F_REQUIRED" property="fRequired" jdbcType="VARCHAR" />
    <result column="F_ALIAS" property="fAlias" jdbcType="VARCHAR" />
    <result column="F_OPT_EXP" property="fOptExp" jdbcType="VARCHAR" />
    <result column="F_USE_EXP" property="fUseExp" jdbcType="VARCHAR" />
    <result column="F_OPT" property="fOpt" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    F_PKEY, F_PARAM_NAME, F_PARAM_DESC, F_PARAM_EXP, F_BIZ_CODE, F_DISABLE, F_REQUIRED, 
    F_ALIAS, F_OPT_EXP, F_USE_EXP, F_OPT
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hlic.base.pojo.po.WdRptqueryFilterExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from wd_rptquery_filter
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from wd_rptquery_filter
    where F_PKEY = #{fPkey,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from wd_rptquery_filter
    where F_PKEY = #{fPkey,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.hlic.base.pojo.po.WdRptqueryFilterExample" >
    delete from wd_rptquery_filter
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hlic.base.pojo.po.WdRptqueryFilter" >
    insert into wd_rptquery_filter (F_PKEY, F_PARAM_NAME, F_PARAM_DESC, 
      F_PARAM_EXP, F_BIZ_CODE, F_DISABLE, 
      F_REQUIRED, F_ALIAS, F_OPT_EXP, 
      F_USE_EXP, F_OPT)
    values (#{fPkey,jdbcType=VARCHAR}, #{fParamName,jdbcType=VARCHAR}, #{fParamDesc,jdbcType=VARCHAR}, 
      #{fParamExp,jdbcType=VARCHAR}, #{fBizCode,jdbcType=VARCHAR}, #{fDisable,jdbcType=VARCHAR}, 
      #{fRequired,jdbcType=VARCHAR}, #{fAlias,jdbcType=VARCHAR}, #{fOptExp,jdbcType=VARCHAR}, 
      #{fUseExp,jdbcType=VARCHAR}, #{fOpt,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hlic.base.pojo.po.WdRptqueryFilter" >
    insert into wd_rptquery_filter
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fPkey != null" >
        F_PKEY,
      </if>
      <if test="fParamName != null" >
        F_PARAM_NAME,
      </if>
      <if test="fParamDesc != null" >
        F_PARAM_DESC,
      </if>
      <if test="fParamExp != null" >
        F_PARAM_EXP,
      </if>
      <if test="fBizCode != null" >
        F_BIZ_CODE,
      </if>
      <if test="fDisable != null" >
        F_DISABLE,
      </if>
      <if test="fRequired != null" >
        F_REQUIRED,
      </if>
      <if test="fAlias != null" >
        F_ALIAS,
      </if>
      <if test="fOptExp != null" >
        F_OPT_EXP,
      </if>
      <if test="fUseExp != null" >
        F_USE_EXP,
      </if>
      <if test="fOpt != null" >
        F_OPT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fPkey != null" >
        #{fPkey,jdbcType=VARCHAR},
      </if>
      <if test="fParamName != null" >
        #{fParamName,jdbcType=VARCHAR},
      </if>
      <if test="fParamDesc != null" >
        #{fParamDesc,jdbcType=VARCHAR},
      </if>
      <if test="fParamExp != null" >
        #{fParamExp,jdbcType=VARCHAR},
      </if>
      <if test="fBizCode != null" >
        #{fBizCode,jdbcType=VARCHAR},
      </if>
      <if test="fDisable != null" >
        #{fDisable,jdbcType=VARCHAR},
      </if>
      <if test="fRequired != null" >
        #{fRequired,jdbcType=VARCHAR},
      </if>
      <if test="fAlias != null" >
        #{fAlias,jdbcType=VARCHAR},
      </if>
      <if test="fOptExp != null" >
        #{fOptExp,jdbcType=VARCHAR},
      </if>
      <if test="fUseExp != null" >
        #{fUseExp,jdbcType=VARCHAR},
      </if>
      <if test="fOpt != null" >
        #{fOpt,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hlic.base.pojo.po.WdRptqueryFilterExample" resultType="java.lang.Integer" >
    select count(*) from wd_rptquery_filter
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update wd_rptquery_filter
    <set >
      <if test="record.fPkey != null" >
        F_PKEY = #{record.fPkey,jdbcType=VARCHAR},
      </if>
      <if test="record.fParamName != null" >
        F_PARAM_NAME = #{record.fParamName,jdbcType=VARCHAR},
      </if>
      <if test="record.fParamDesc != null" >
        F_PARAM_DESC = #{record.fParamDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.fParamExp != null" >
        F_PARAM_EXP = #{record.fParamExp,jdbcType=VARCHAR},
      </if>
      <if test="record.fBizCode != null" >
        F_BIZ_CODE = #{record.fBizCode,jdbcType=VARCHAR},
      </if>
      <if test="record.fDisable != null" >
        F_DISABLE = #{record.fDisable,jdbcType=VARCHAR},
      </if>
      <if test="record.fRequired != null" >
        F_REQUIRED = #{record.fRequired,jdbcType=VARCHAR},
      </if>
      <if test="record.fAlias != null" >
        F_ALIAS = #{record.fAlias,jdbcType=VARCHAR},
      </if>
      <if test="record.fOptExp != null" >
        F_OPT_EXP = #{record.fOptExp,jdbcType=VARCHAR},
      </if>
      <if test="record.fUseExp != null" >
        F_USE_EXP = #{record.fUseExp,jdbcType=VARCHAR},
      </if>
      <if test="record.fOpt != null" >
        F_OPT = #{record.fOpt,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update wd_rptquery_filter
    set F_PKEY = #{record.fPkey,jdbcType=VARCHAR},
      F_PARAM_NAME = #{record.fParamName,jdbcType=VARCHAR},
      F_PARAM_DESC = #{record.fParamDesc,jdbcType=VARCHAR},
      F_PARAM_EXP = #{record.fParamExp,jdbcType=VARCHAR},
      F_BIZ_CODE = #{record.fBizCode,jdbcType=VARCHAR},
      F_DISABLE = #{record.fDisable,jdbcType=VARCHAR},
      F_REQUIRED = #{record.fRequired,jdbcType=VARCHAR},
      F_ALIAS = #{record.fAlias,jdbcType=VARCHAR},
      F_OPT_EXP = #{record.fOptExp,jdbcType=VARCHAR},
      F_USE_EXP = #{record.fUseExp,jdbcType=VARCHAR},
      F_OPT = #{record.fOpt,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hlic.base.pojo.po.WdRptqueryFilter" >
    update wd_rptquery_filter
    <set >
      <if test="fParamName != null" >
        F_PARAM_NAME = #{fParamName,jdbcType=VARCHAR},
      </if>
      <if test="fParamDesc != null" >
        F_PARAM_DESC = #{fParamDesc,jdbcType=VARCHAR},
      </if>
      <if test="fParamExp != null" >
        F_PARAM_EXP = #{fParamExp,jdbcType=VARCHAR},
      </if>
      <if test="fBizCode != null" >
        F_BIZ_CODE = #{fBizCode,jdbcType=VARCHAR},
      </if>
      <if test="fDisable != null" >
        F_DISABLE = #{fDisable,jdbcType=VARCHAR},
      </if>
      <if test="fRequired != null" >
        F_REQUIRED = #{fRequired,jdbcType=VARCHAR},
      </if>
      <if test="fAlias != null" >
        F_ALIAS = #{fAlias,jdbcType=VARCHAR},
      </if>
      <if test="fOptExp != null" >
        F_OPT_EXP = #{fOptExp,jdbcType=VARCHAR},
      </if>
      <if test="fUseExp != null" >
        F_USE_EXP = #{fUseExp,jdbcType=VARCHAR},
      </if>
      <if test="fOpt != null" >
        F_OPT = #{fOpt,jdbcType=VARCHAR},
      </if>
    </set>
    where F_PKEY = #{fPkey,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hlic.base.pojo.po.WdRptqueryFilter" >
    update wd_rptquery_filter
    set F_PARAM_NAME = #{fParamName,jdbcType=VARCHAR},
      F_PARAM_DESC = #{fParamDesc,jdbcType=VARCHAR},
      F_PARAM_EXP = #{fParamExp,jdbcType=VARCHAR},
      F_BIZ_CODE = #{fBizCode,jdbcType=VARCHAR},
      F_DISABLE = #{fDisable,jdbcType=VARCHAR},
      F_REQUIRED = #{fRequired,jdbcType=VARCHAR},
      F_ALIAS = #{fAlias,jdbcType=VARCHAR},
      F_OPT_EXP = #{fOptExp,jdbcType=VARCHAR},
      F_USE_EXP = #{fUseExp,jdbcType=VARCHAR},
      F_OPT = #{fOpt,jdbcType=VARCHAR}
    where F_PKEY = #{fPkey,jdbcType=VARCHAR}
  </update>
</mapper>