<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hlic.base.dao.mapper.WdRptqueryConfMapper" >
  <resultMap id="BaseResultMap" type="com.hlic.base.pojo.po.WdRptqueryConf" >
    <id column="F_PKEY" property="fPkey" jdbcType="VARCHAR" />
    <result column="F_BIZ_CODE" property="fBizCode" jdbcType="VARCHAR" />
    <result column="F_BIZ_DESC" property="fBizDesc" jdbcType="VARCHAR" />
    <result column="F_PARAM" property="fParam" jdbcType="VARCHAR" />
    <result column="F_SQLTEXT" property="fSqltext" jdbcType="VARCHAR" />
    <result column="F_QUERY_COLS" property="fQueryCols" jdbcType="VARCHAR" />
    <result column="F_RESULT_COLS" property="fResultCols" jdbcType="VARCHAR" />
    <result column="F_EXT_SQL" property="fExtSql" jdbcType="VARCHAR" />
    <result column="F_COUNT_SQL" property="fCountSql" jdbcType="VARCHAR" />
    <result column="F_CNTEXT_SQL" property="fCntextSql" jdbcType="VARCHAR" />
    <result column="F_COL_TYPE" property="fColType" jdbcType="VARCHAR" />
    <result column="F_EXP_PARAM" property="fExpParam" jdbcType="VARCHAR" />
    <result column="F_SQL_WHERE" property="fSqlWhere" jdbcType="VARCHAR" />
    <result column="F_SQL_ORDER" property="fSqlOrder" jdbcType="VARCHAR" />
    <result column="F_IS_AUTH" property="fIsAuth" jdbcType="VARCHAR" />
    <result column="F_ALIAS" property="fAlias" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    F_PKEY, F_BIZ_CODE, F_BIZ_DESC, F_PARAM, F_SQLTEXT, F_QUERY_COLS, F_RESULT_COLS, 
    F_EXT_SQL, F_COUNT_SQL, F_CNTEXT_SQL, F_COL_TYPE, F_EXP_PARAM, F_SQL_WHERE, F_SQL_ORDER, 
    F_IS_AUTH, F_ALIAS
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hlic.base.pojo.po.WdRptqueryConfExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from wd_rptquery_conf
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from wd_rptquery_conf
    where F_PKEY = #{fPkey,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from wd_rptquery_conf
    where F_PKEY = #{fPkey,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.hlic.base.pojo.po.WdRptqueryConfExample" >
    delete from wd_rptquery_conf
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hlic.base.pojo.po.WdRptqueryConf" >
    insert into wd_rptquery_conf (F_PKEY, F_BIZ_CODE, F_BIZ_DESC, 
      F_PARAM, F_SQLTEXT, F_QUERY_COLS, 
      F_RESULT_COLS, F_EXT_SQL, F_COUNT_SQL, 
      F_CNTEXT_SQL, F_COL_TYPE, F_EXP_PARAM, 
      F_SQL_WHERE, F_SQL_ORDER, F_IS_AUTH, 
      F_ALIAS)
    values (#{fPkey,jdbcType=VARCHAR}, #{fBizCode,jdbcType=VARCHAR}, #{fBizDesc,jdbcType=VARCHAR}, 
      #{fParam,jdbcType=VARCHAR}, #{fSqltext,jdbcType=VARCHAR}, #{fQueryCols,jdbcType=VARCHAR}, 
      #{fResultCols,jdbcType=VARCHAR}, #{fExtSql,jdbcType=VARCHAR}, #{fCountSql,jdbcType=VARCHAR}, 
      #{fCntextSql,jdbcType=VARCHAR}, #{fColType,jdbcType=VARCHAR}, #{fExpParam,jdbcType=VARCHAR}, 
      #{fSqlWhere,jdbcType=VARCHAR}, #{fSqlOrder,jdbcType=VARCHAR}, #{fIsAuth,jdbcType=VARCHAR}, 
      #{fAlias,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hlic.base.pojo.po.WdRptqueryConf" >
    insert into wd_rptquery_conf
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fPkey != null" >
        F_PKEY,
      </if>
      <if test="fBizCode != null" >
        F_BIZ_CODE,
      </if>
      <if test="fBizDesc != null" >
        F_BIZ_DESC,
      </if>
      <if test="fParam != null" >
        F_PARAM,
      </if>
      <if test="fSqltext != null" >
        F_SQLTEXT,
      </if>
      <if test="fQueryCols != null" >
        F_QUERY_COLS,
      </if>
      <if test="fResultCols != null" >
        F_RESULT_COLS,
      </if>
      <if test="fExtSql != null" >
        F_EXT_SQL,
      </if>
      <if test="fCountSql != null" >
        F_COUNT_SQL,
      </if>
      <if test="fCntextSql != null" >
        F_CNTEXT_SQL,
      </if>
      <if test="fColType != null" >
        F_COL_TYPE,
      </if>
      <if test="fExpParam != null" >
        F_EXP_PARAM,
      </if>
      <if test="fSqlWhere != null" >
        F_SQL_WHERE,
      </if>
      <if test="fSqlOrder != null" >
        F_SQL_ORDER,
      </if>
      <if test="fIsAuth != null" >
        F_IS_AUTH,
      </if>
      <if test="fAlias != null" >
        F_ALIAS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fPkey != null" >
        #{fPkey,jdbcType=VARCHAR},
      </if>
      <if test="fBizCode != null" >
        #{fBizCode,jdbcType=VARCHAR},
      </if>
      <if test="fBizDesc != null" >
        #{fBizDesc,jdbcType=VARCHAR},
      </if>
      <if test="fParam != null" >
        #{fParam,jdbcType=VARCHAR},
      </if>
      <if test="fSqltext != null" >
        #{fSqltext,jdbcType=VARCHAR},
      </if>
      <if test="fQueryCols != null" >
        #{fQueryCols,jdbcType=VARCHAR},
      </if>
      <if test="fResultCols != null" >
        #{fResultCols,jdbcType=VARCHAR},
      </if>
      <if test="fExtSql != null" >
        #{fExtSql,jdbcType=VARCHAR},
      </if>
      <if test="fCountSql != null" >
        #{fCountSql,jdbcType=VARCHAR},
      </if>
      <if test="fCntextSql != null" >
        #{fCntextSql,jdbcType=VARCHAR},
      </if>
      <if test="fColType != null" >
        #{fColType,jdbcType=VARCHAR},
      </if>
      <if test="fExpParam != null" >
        #{fExpParam,jdbcType=VARCHAR},
      </if>
      <if test="fSqlWhere != null" >
        #{fSqlWhere,jdbcType=VARCHAR},
      </if>
      <if test="fSqlOrder != null" >
        #{fSqlOrder,jdbcType=VARCHAR},
      </if>
      <if test="fIsAuth != null" >
        #{fIsAuth,jdbcType=VARCHAR},
      </if>
      <if test="fAlias != null" >
        #{fAlias,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hlic.base.pojo.po.WdRptqueryConfExample" resultType="java.lang.Integer" >
    select count(*) from wd_rptquery_conf
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update wd_rptquery_conf
    <set >
      <if test="record.fPkey != null" >
        F_PKEY = #{record.fPkey,jdbcType=VARCHAR},
      </if>
      <if test="record.fBizCode != null" >
        F_BIZ_CODE = #{record.fBizCode,jdbcType=VARCHAR},
      </if>
      <if test="record.fBizDesc != null" >
        F_BIZ_DESC = #{record.fBizDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.fParam != null" >
        F_PARAM = #{record.fParam,jdbcType=VARCHAR},
      </if>
      <if test="record.fSqltext != null" >
        F_SQLTEXT = #{record.fSqltext,jdbcType=VARCHAR},
      </if>
      <if test="record.fQueryCols != null" >
        F_QUERY_COLS = #{record.fQueryCols,jdbcType=VARCHAR},
      </if>
      <if test="record.fResultCols != null" >
        F_RESULT_COLS = #{record.fResultCols,jdbcType=VARCHAR},
      </if>
      <if test="record.fExtSql != null" >
        F_EXT_SQL = #{record.fExtSql,jdbcType=VARCHAR},
      </if>
      <if test="record.fCountSql != null" >
        F_COUNT_SQL = #{record.fCountSql,jdbcType=VARCHAR},
      </if>
      <if test="record.fCntextSql != null" >
        F_CNTEXT_SQL = #{record.fCntextSql,jdbcType=VARCHAR},
      </if>
      <if test="record.fColType != null" >
        F_COL_TYPE = #{record.fColType,jdbcType=VARCHAR},
      </if>
      <if test="record.fExpParam != null" >
        F_EXP_PARAM = #{record.fExpParam,jdbcType=VARCHAR},
      </if>
      <if test="record.fSqlWhere != null" >
        F_SQL_WHERE = #{record.fSqlWhere,jdbcType=VARCHAR},
      </if>
      <if test="record.fSqlOrder != null" >
        F_SQL_ORDER = #{record.fSqlOrder,jdbcType=VARCHAR},
      </if>
      <if test="record.fIsAuth != null" >
        F_IS_AUTH = #{record.fIsAuth,jdbcType=VARCHAR},
      </if>
      <if test="record.fAlias != null" >
        F_ALIAS = #{record.fAlias,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update wd_rptquery_conf
    set F_PKEY = #{record.fPkey,jdbcType=VARCHAR},
      F_BIZ_CODE = #{record.fBizCode,jdbcType=VARCHAR},
      F_BIZ_DESC = #{record.fBizDesc,jdbcType=VARCHAR},
      F_PARAM = #{record.fParam,jdbcType=VARCHAR},
      F_SQLTEXT = #{record.fSqltext,jdbcType=VARCHAR},
      F_QUERY_COLS = #{record.fQueryCols,jdbcType=VARCHAR},
      F_RESULT_COLS = #{record.fResultCols,jdbcType=VARCHAR},
      F_EXT_SQL = #{record.fExtSql,jdbcType=VARCHAR},
      F_COUNT_SQL = #{record.fCountSql,jdbcType=VARCHAR},
      F_CNTEXT_SQL = #{record.fCntextSql,jdbcType=VARCHAR},
      F_COL_TYPE = #{record.fColType,jdbcType=VARCHAR},
      F_EXP_PARAM = #{record.fExpParam,jdbcType=VARCHAR},
      F_SQL_WHERE = #{record.fSqlWhere,jdbcType=VARCHAR},
      F_SQL_ORDER = #{record.fSqlOrder,jdbcType=VARCHAR},
      F_IS_AUTH = #{record.fIsAuth,jdbcType=VARCHAR},
      F_ALIAS = #{record.fAlias,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hlic.base.pojo.po.WdRptqueryConf" >
    update wd_rptquery_conf
    <set >
      <if test="fBizCode != null" >
        F_BIZ_CODE = #{fBizCode,jdbcType=VARCHAR},
      </if>
      <if test="fBizDesc != null" >
        F_BIZ_DESC = #{fBizDesc,jdbcType=VARCHAR},
      </if>
      <if test="fParam != null" >
        F_PARAM = #{fParam,jdbcType=VARCHAR},
      </if>
      <if test="fSqltext != null" >
        F_SQLTEXT = #{fSqltext,jdbcType=VARCHAR},
      </if>
      <if test="fQueryCols != null" >
        F_QUERY_COLS = #{fQueryCols,jdbcType=VARCHAR},
      </if>
      <if test="fResultCols != null" >
        F_RESULT_COLS = #{fResultCols,jdbcType=VARCHAR},
      </if>
      <if test="fExtSql != null" >
        F_EXT_SQL = #{fExtSql,jdbcType=VARCHAR},
      </if>
      <if test="fCountSql != null" >
        F_COUNT_SQL = #{fCountSql,jdbcType=VARCHAR},
      </if>
      <if test="fCntextSql != null" >
        F_CNTEXT_SQL = #{fCntextSql,jdbcType=VARCHAR},
      </if>
      <if test="fColType != null" >
        F_COL_TYPE = #{fColType,jdbcType=VARCHAR},
      </if>
      <if test="fExpParam != null" >
        F_EXP_PARAM = #{fExpParam,jdbcType=VARCHAR},
      </if>
      <if test="fSqlWhere != null" >
        F_SQL_WHERE = #{fSqlWhere,jdbcType=VARCHAR},
      </if>
      <if test="fSqlOrder != null" >
        F_SQL_ORDER = #{fSqlOrder,jdbcType=VARCHAR},
      </if>
      <if test="fIsAuth != null" >
        F_IS_AUTH = #{fIsAuth,jdbcType=VARCHAR},
      </if>
      <if test="fAlias != null" >
        F_ALIAS = #{fAlias,jdbcType=VARCHAR},
      </if>
    </set>
    where F_PKEY = #{fPkey,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hlic.base.pojo.po.WdRptqueryConf" >
    update wd_rptquery_conf
    set F_BIZ_CODE = #{fBizCode,jdbcType=VARCHAR},
      F_BIZ_DESC = #{fBizDesc,jdbcType=VARCHAR},
      F_PARAM = #{fParam,jdbcType=VARCHAR},
      F_SQLTEXT = #{fSqltext,jdbcType=VARCHAR},
      F_QUERY_COLS = #{fQueryCols,jdbcType=VARCHAR},
      F_RESULT_COLS = #{fResultCols,jdbcType=VARCHAR},
      F_EXT_SQL = #{fExtSql,jdbcType=VARCHAR},
      F_COUNT_SQL = #{fCountSql,jdbcType=VARCHAR},
      F_CNTEXT_SQL = #{fCntextSql,jdbcType=VARCHAR},
      F_COL_TYPE = #{fColType,jdbcType=VARCHAR},
      F_EXP_PARAM = #{fExpParam,jdbcType=VARCHAR},
      F_SQL_WHERE = #{fSqlWhere,jdbcType=VARCHAR},
      F_SQL_ORDER = #{fSqlOrder,jdbcType=VARCHAR},
      F_IS_AUTH = #{fIsAuth,jdbcType=VARCHAR},
      F_ALIAS = #{fAlias,jdbcType=VARCHAR}
    where F_PKEY = #{fPkey,jdbcType=VARCHAR}
  </update>
</mapper>