@CHARSET "UTF-8";
.main{
	position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
.main-header{
	position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height:40px;
    background-color:#039393;
}
.header-message {
    float: right;
}
.message-userInfo{
	cursor: pointer;
}
.message-userInfo:hover {
    background-color: #46A3D8;
}
.userInfo-tou {
	background-size: 12px;
    width: 33px;
    padding-top: 3px;
}
.userInfo-name{
    display: inline-block;
    vertical-align: top;
    line-height: 40px;
    padding: 0 38px 0 10px;
    font-size: 14px;
    color: #fff;
    letter-spacing: 2px;
}
.message-select {
    position: absolute;
    display: none;
    top: 40px;
    width: 113px;
    /* text-align: center; */
    font-size: 14px;
    letter-spacing: 2px;
    color: #fff;
    z-index: 1;
    background-color: #438EB9;
    border-radius: 0 0 4px 4px;
}
.sel-ul {
    margin-top: 0;
    padding: 0px;
}
.sel-li{
	list-style-type: none;
    padding: 3px 0;
    padding-left: 8px;
    cursor: pointer;
}
.sel-li:hover{
	background-color:#46A3D8;
}
.sel-li span{
    display: inline-block;
    vertical-align: top;
    padding: 2px;
}
.main-menu{
	position: absolute;
    top: 40px;
    bottom: 20px;
    left: 0px;
    width:190px;
    background-color:#efefef;
    border-right: 1px solid #efefef;
}
.menu-content{
	line-height: 30px;
    font-size: 13px;
    background-color: #FFF;
    text-align: center;
    color: #000;
    font-weight: 600;
}
.menu-name {
    width: 123px;
}
.menu-list {
    position: absolute;
    right: 0px;
    left: 0px;
    bottom: 0px;
    top: 31px;
}
.leftMenu{
	position: absolute;
    right: 0px;
    left: 0px;
    bottom: 0px;
    top: 0px;
    background-color: #FaFaFa;
}
.main-ul{
	margin: 0px;
    padding: 0px;
}
.main-li{
	position: relative;
    background-color: #FaFaFa;
	list-style-type: none;
	height:28px;
    padding-bottom: 9px;
    padding-left: 19px;
    border-bottom: 1px solid #DEDBDB;
    border-left: 4px solid #dfdfdf;
   
}
.main-lihover{
	border-top: 1px solid #438EB9;
	border-bottom: 1px solid #438EB9;
    border-left: 4px solid #438EB9;
    z-index:100;
}
.list-content{
    height: 96%;
    width: 100%;
    padding-top: 10px;
}
.sMenuDivA{
	position: absolute;
	top:0px;
    left: 186px;
    width: 520px;
    background-color: #FaFaFa;
    border: 1px solid #438EB9;
    padding-left: 10px;
    padding-bottom: 10px;
    z-index:99;
}
.menuB-name{
    margin-top: 8px;
    color: #438EB9;
    font-size: 14px;
}
.menuC-a{
	width: 30%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 10px;
    font-size: 13px;
    cursor: pointer;
}
.main-container{
	position: absolute;
    top: 40px;
    bottom: 20px;
    left: 190px;
    right: 0px;
}
.navigation {
	overflow: hidden;
    height: 30px;
    border-bottom: 1px solid #dfdfdf;
}
.nav-name {
    display: inline-block;
    margin-left: 16px;
    margin-top: 4px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    line-height: 23px;
    color: #fff;
    border-radius: 8px;
    background-color: #039393;
    cursor: pointer;
}
.nav-name:hover{
    color: #00F5FF;
}
.nav-namehighlight{
	color: #00F5FF;
}
.con-iframe {
    position: inherit;
    /* height: 100%; */
    top: 30px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
.iframecom{
	width:100%;
	height:100%;
}
.main-bottom{
	position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height:20px;
    background-color:#efefef;
}
.closebtn{
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: top;
    margin-top: 4px;
    margin-left: 6px;
    background-image: url(../images/close.png);
    background-repeat: no-repeat;
    background-size: 16px;
}
